<?xml version="1.0" encoding="utf-8"?>
<config>
	<licenseNumber>9502-0201-130001</licenseNumber>
	<domainKey>978bb043ced488037b16cbb66814d03354670a9cca098c21a4488712ebeb9b811c0737db7f38ffe8b1135190a090b8eba912ab2b148b4d7223574524f855d59cb9c52139697e941cf7fe53b614dcbc06da5ef1ce04878827aa2e232dbf318bdd68aaf1bc52604c1aa8643518a0e6bd63</domainKey>
	<maxImageNum>20</maxImageNum>
	<maxImageWidth>1600</maxImageWidth>
	<maxImageHeight>1600</maxImageHeight>
	<maxImageBytes>10485760</maxImageBytes>
	<checkImageTitle>off</checkImageTitle>
	<locale>kor</locale>
	<services>
		<service>
			<name>Editor</name>
			<iconURL></iconURL>
			<url>com/namo/Editor.swf</url>
		</service>
		<service>
			<name>Slideshow</name>
			<iconURL>assets/images/slideshow/slideshow_icon.png</iconURL>
			<url>com/namo/Slideshow.swf</url>
		</service>
	</services>
</config>
