
@charset "utf-8";

/************************************************************************************************************ 
	GNB import
************************************************************************************************************/
@import url(menu.css);

/************************************************************************************************************ 
	기본설정
************************************************************************************************************/
body {margin:0; padding:0;font-size:12px; margin:0; padding:0;background:url(../../../images/las/ko/main/1_new_bg_line.jpg) repeat-x }
address {font-style:normal; padding:7px;}
img {border:0}
html {height:auto;}
body {height:auto; overflow-x:hidden; font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;}
table {clear:both; border-collapse:collapse; border-spacing:0;margin:0;padding:0; }
ul, ol, li {list-style:none;padding:0; margin:0}
a {color:#333;text-decoration:none; cursor:pointer;}
a:hover {color:#17549f; text-decoration:none;}
a:visited {text-decoration: none; color: #666;}
img {vertical-align:middle}
*:focus {outline: none;}

/************************************************************************************************************ 
	align
************************************************************************************************************/
.fL{float:left}
.fR{float:right}

/************************************************************************************************************ 
	전체 레이아웃
************************************************************************************************************/
#container { overflow:hidden;min-width:1170px;}
#contentWrap {overflow:hidden;position:relative; width:1000px; left:50%; margin: 0 0 0 -500px;}
#conleft{float:left; width:452px; padding-top:15px;padding-left:0px;}
#conright{float:right; width:548px; padding-top:15px;}
.mtmb20{margin:20px 0;}
.ml12 {margin-left:12px}
.trmt{text-align:left; margin-top:31px;}
*:first-child+html .trmt {margin-top:-5px;}

/********************************************************************************************************************
    컨텐츠배경박스
********************************************************************************************************************/
/**top**/
.conboxR {width:548px;  margin:0;}
.conboxR .bx_top {position:relative; width:100%; height:22px; width:548px; overflow:hidden;  background:url(../../../images/las/en/main/mail_top_center.gif) repeat-x;}
.conboxR .bx_top span.right {position:absolute; top:0; right:0; width:200px; height:22px;  background:url(../../../images/las/en/main/mail_top_right.gif) no-repeat top right;}
.conboxR .bx_top span.left {position:absolute; top:0; left:0; width:422px; height:22px;  background:url(../../../images/las/en/main/mail_top_left.gif) no-repeat top left;}

/**mid**/
.conboxR .bx_mid {overflow:hidden; height:100%; width:548px; background:url(../../../images/las/en/main/mail_mid.png) repeat-y top;}
*html .conboxR .bx_mid {width:100%;}

/**btm**/
.conboxR .bx_btm {position:relative; height:22px; text-align:center;  margin-bottom:20px; background:url(../../../images/las/en/main/mail_btm_center.gif) repeat-x bottom left}
.conboxR .bx_btm span.right {position:absolute; top:0; right:0; width:200px; height:22px;  background:url(../../../images/las/en/main/mail_btm_right.gif) no-repeat bottom right;}
.conboxR .bx_btm span.left {position:absolute; top:0; left:0; width:200px; height:22px;  background:url(../../../images/las/en/main/mail_btm_left.gif) no-repeat bottom left;}


/***footer******/
address {width:1000px; height:30px;position:relative;left:50%; margin:-9px 0 0 -500px; background:url(../../../images/las/en/main/main_copy.gif) no-repeat}
address .copy {font:normal 10px tahoma; line-height:15px; text-indent:7em; color:#808080;}
address .copy .contactus {background:url(../../../images/las/ko/icon/icon_mail.gif) no-repeat 0 2px; color:#5E4B3F; padding-left:25px; margin-left:7px; line-height:10px!important;}
address .copy .contactus span {color:#B6602C}

/**privacy**/
.privacy {margin:2px 27px 0 0; text-indent:17px; cursor:pointer; font-size:11px;  height:20px; line-height:13px; letter-spacing:0px; color:#4B4C58; background:url(../../../images/las/ko/main/icon_privacy.gif) no-repeat 0 0px}
.privacy a {color:#4B4C58; }



/********************************************************************************************************************
    컨텐츠요소-오늘의할일,공지사항,서비스데스크
********************************************************************************************************************/
/***to do list*****/
.conWrap {height:150px;}
.conWrap .conbox01 {height:150px; width:504px; position:relative; top:10px; left:21px;}
.conWrap .conbox01  h1 {position:absolute; top:-5px; left:15px; font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size:14px; line-height:17px; width:490px; height:20px; letter-spacing:0px; color:#34343; text-indent:32px;background:url(../../../images/las/ko/main/con_title_icon01.gif) no-repeat;}
*:first-child+html .conWrap .conbox01  h1 {top:4px;line-height:18px;}
.conWrap .conbox01 .work01 { width:476px; height:68px; position:absolute; top:27px; left:15px;}
.conWrap .conbox01 .work02 {height:40px; width:312px; height:40px; position:absolute; top:125px; left:15px;}
.conWrap .conbox01 .work02 h2 {height:15px; font-size:11px; color:#201A5E; letter-spacing:0px; font-weight:normal; background:url(../../../images/las/ko/main/icon_arr02.gif) no-repeat; text-indent:7px;}
.conWrap .conbox01 .work02 h2 span {color:#284A8D}
.conWrap .conbox01 .tblData {width:100%; border:1px solid #92A2C8;table-layout:fixed;}
.conWrap .conbox01 .tblData th {padding:0; height:22px; background:#CFD6E7; text-align:center;border:1px solid #92A2C8; color:#0C2133; font-weight:normal; font-size:11px; letter-spacing:0px;}
.conWrap .conbox01 .tblData td {padding:0; height:22px; border:1px solid #92A2C8; color:#595959; text-align:center; font-size:11px;}
.conWrap .conbox01 .tblData td a {color:#595959;font-size:11px;}
.conWrap .conbox01 .tblData td a:hover {color:#595959;font-size:11px; text-decoration:underline }
.conWrap .conbox01 .alert {position:absolute; top:75px; left:275px; font-size:11px; letter-spacing:0px; height:18px; background:url(../../../images/las/ko/icon/ico_alert01.gif) no-repeat 0px 3px; color:#563513; text-indent:17px; line-height:140%;}
.conWrap .conbox01 .alert span {color:#D23815;}
.conWrap .conbox01 .line {position:absolute; top:133px; left:0px; width:505px; height:3px; border-bottom:1px solid #edeced;}


/************************************************************************************************************ 
	공지사항
************************************************************************************************************/
.conWrap .conbox02 {float:left; height:175px; width:503px; position:relative; left:21px; top:10px;}
.conWrap .conbox02  h1 {position:absolute; top:-12px; left:17px; font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size:14px; line-height:17px; width:503px; height:20px; letter-spacing:0px; color:#34343; text-indent:19px;background:url(../../../images/las/ko/main/con_title_icon02.gif) no-repeat;}
*:first-child+html .conWrap .conbox02  h1 {top:-3px;line-height:18px;}
.conWrap .conbox02 .more {position:absolute; top:-4px; left:465px; width:22px; height:22px; background:url(../../../images/las/ko/main/btn_more.gif) no-repeat 1px; border:0; padding:0; margin:0; cursor:pointer}
.conWrap .conbox02 .noticeimg {position:absolute; top:55px; left:17px; background:url(../../../images/las/ko/main/noticeimg.gif) no-repeat;width:120px; height:100px;}
.conWrap .conbox02 ul {position:absolute; top:30px; left:17px; width:470px; height:100px;}
.conWrap .conbox02 ul li {font-size:11px;width:280px; margin-bottom:8px; line-height:120%; background:url(../../../images/las/ko/main/icon_arr01.gif) no-repeat 0 5px; text-indent:7px;overflow: hidden; text-overflow: ellipsis; white-space:nowrap;-moz-binding: url('ellipsis.xml#ellipsis');}
.conWrap .conbox02 ul li a {font-size:11px;margin-bottom:11px; text-indent:7px; color:#515151; letter-spacing:0px;}
.conWrap .conbox02 ul li a:hover {text-decoration:underline}
.conWrap .conbox02 ul li img {border:0; margin-top:-1px}
*html .conWrap .conbox02 ul li img {border:0; margin-top:0px}
:root .conWrap .conbox02 ul li img {border:0; margin-top:0px}
.conWrap .conbox02 .line {position:absolute; top:152px; left:0px; width:505px; height:3px; border-bottom:1px solid #edeced;}


/************************************************************************************************************ 
	서비스데스크,IT-VOC
************************************************************************************************************/
.conWrap .conbox03 {float:left; height:233px; width:280px; position:relative; left:21px; top:10px}
.conWrap .conbox03  h1 {position:absolute; top:-4px; left:15px; font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size:14px; line-height:16px; width:310px; height:20px; letter-spacing:0px; color:#34343; text-indent:27px;background:url(../../../images/las/ko/main/con_title_icon03.gif) no-repeat;}
.conWrap .conbox03 .help {background:url(../../../images/las/ko/main/icon_tel.gif) no-repeat 2px 17px; height:80px; width:280px;position:absolute; top:14px; left:15px;}
.conWrap .conbox03 .help .name {background:url(../../../images/las/ko/main/icon_arr.gif) no-repeat 0 7px; height:24px; width:210px;position:relative; top:14px; left:70px;font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold; letter-spacing:0px; text-indent:8px;color:#402E1F}
.conWrap .conbox03 .help .tel {width:210px;position:relative; top:11px; left:70px;font-family:Tahoma; font-size:12px; font-weight:bold;text-indent:8px; color:#505050 }
.conWrap .conbox03 .help .email {width:210px;position:relative; top:14px; left:71px;font-family:Tahoma; font-size:12px; text-indent:8px; color:#505050 }
.conWrap .conbox03 .help .email span {font-size:11px}

/***IT-VOC****/
.conWrap .conbox03 .voc {cursor:pointer; font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; font-weight:normal; letter-spacing:0px; color:#454545; font-size:12px;position:absolute; top:19px; left:14px; padding:20px 0 0 77px;background:url(../../../images/las/en/main/banner_bg.gif) no-repeat 0px -1px; height:53px; width:183px;}
*html .conWrap .conbox03 .voc {height:73px; width:260px;}/****서비스데스크빠진 정렬값*****/
.conWrap .conbox03 .voc img {margin-left:60px; margin-top:30px;}
.conWrap .conbox03 .line {position:absolute; top:110px; left:0px; width:300px; height:3px; background:url(../../../images/las/ko/main/con_line.gif) repeat-x; height:1px}
.voc_listT{background:url(../../../images/las/ko/main/bullet.png) no-repeat; width:px; height:18px; background-position:0px 3px; padding-left:5px;color:#039; font-weight:bold; display:inline-block; font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;}
.voc_listB{background:url(../../../images/las/ko/main/bullet.png) no-repeat; width:px; height:18px; background-position:0px 3px; padding-left:5px;color:#039; font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;}

.conWrap .conbox03 .it4u {cursor:pointer; height:64px; width:234px; font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; font-weight:bold; letter-spacing:0px; color:#454545; font-size:12px;position:absolute; top:140px; left:-4px; padding:10px;}
.conWrap .conbox03 .it4u img {margin-left:7px;}
.conWrap .conbox03 .line {position:absolute; top:110px; left:0px; width:300px; height:3px; background:url(../../../images/las/ko/main/con_line.gif) repeat-x; height:1px}


/************************************************************************************************************ 
	to do list 탭
************************************************************************************************************/
.tab_basic {float:left; padding:4px 0 0 0; }
.tab_basic li {float:left; display:inline-block; background:url(../../../images/las/ko/main/bg_tab.gif) no-repeat left -20px; margin:0; padding-left:8px; height:20px; overflow:hidden}
.tab_basic li a {display:inline-block; background:url(../../../images/las/ko/main/bg_tab.gif) no-repeat right -20px; line-height:22px; padding-right:10px; color:#666; font-weight:normal; letter-spacing:0px; font-family:Tahoma; font-size:11px;}
.tab_basic li a:hover {color:#666;}
.tab_basic li.on {background:url(../../../images/las/ko/main/bg_tab.gif) no-repeat left top; height:20px; margin:0;}
.tab_basic li.on strong {background:url(../../../images/las/ko/main/bg_tab.gif) no-repeat right top; height:20px; display:inline-block; padding:0px 10px 0 0; color:#fff; line-height:22px;font-weight:normal;  letter-spacing:0px; font-family:Tahoma; font-size:11px;}
.tab_basic li.on a {background:url(../../../images/las/ko/main/bg_tab.gif) no-repeat right top; height:20px;cursor:pointer; display:inline-block; padding:0px 10px 0 0; color:#223A5A; font-weight:normal; line-height:22px;}
.tab_basic li.on a:hover {color:#223A5A}
.sum {float:right; font-family:Tahoma; font-size:10px;  background:url(../../../images/las/ko/main/icon_arr04.gif) no-repeat 0 5px; text-indent:5px; margin-top:8px; margin-right:3px;}
.sum span {color:#F45008; font-weight:bold; text-decoration:underline; letter-spacing:0px;}


/************************************************************************************************************ 
	공지사항테이블
************************************************************************************************************/

/* List Basic_new */ 
.list_basic_notice { margin-top:27px;  margin-left:10px; clear:both; table-layout:fixed; width:100%}
.list_basic_notice th {line-height:15px; padding:3px 0px; background:#EFF4FA; font-weight:bold; text-align:center; letter-spacing:0px; color:#2F344E; font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;}
.list_basic_notice td {line-height:16px; padding:3px 10px;color:#555;overflow: hidden; text-overflow: ellipsis; white-space:nowrap;-moz-binding: url('ellipsis.xml#ellipsis'); }
.list_basic_notice tr td {font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;color:#a5a5a5; font-size:11px;}
.list_basic_notice tr td.date {font-size:10px}
.list_basic_notice a {color:#444;}
.list_basic_notice a:hover {color:#444; text-decoration:underline;}
.list_basic_notice td span {padding-left:5px;}
.list_basic_notice td span.mR5 {padding-left:0px; }


/**************************************************************************************************************************************
  아이콘
*************************************************************************************************************************************/
.iconBox {display:inline-block;  vertical-align:middle; overflow:hidden; background-size:600px;}
.icon019 {background:url(../../../images/las/ko/icon/ICON.gif) no-repeat; width:3px; height:5px; background-position:0px -100px;}
*:first-child+html .icon019 { width:8px;}
.icon020 {background:url(../../../images/las/ko/icon/ICON.gif) no-repeat; width:24px; height:17px; background-position:-50px -100px;}
.icon021 {background:url(../../../images/las/ko/icon/ICON.gif) no-repeat; width:57px; height:26px; background-position:-100px -100px;}


/**************************************************************************************************************************************
   미니캘린더
*************************************************************************************************************************************/
.cal_area{ width:200px; height:218px; float:left; margin-top:7px; margin-left:35px} 
.date_cal_mini {font:bold 12px tahoma; margin-bottom:5px; padding-left:49px;}
.date_cal_mini .day_full {font:bold 16px tahoma; text-align:center;}
.date_cal_mini .day {font:normal 10px tahoma;}
.form_cal_mini {width:100%; border-top:1px solid #7B92CA; border-right:1px solid #C8CBD8; border-left:1px solid #C8CBD8;  table-layout:fixed; text-align:center;}
.form_cal_mini th {color:#444; height:20px; border-left:1px solid #C8CBD8; border-bottom:1px solid #C8CBD8; font:bold 10px tahoma!important; background:#ECECEC;}
.form_cal_mini .sun {color:#D00D0D !important;font-family:Tahoma;}
.form_cal_mini .sat {color:#3C60BB !important;font-family:Tahoma;}
.form_cal_mini td { padding:3px 5px; height:18px; border-left:1px solid #D9DADB; border-bottom:1px solid #D9DADB;}
.form_cal_mini .day  {font:normal 10px tahoma!important;}
.form_cal_mini .day_sun {font:normal 10px Tahoma!important;color:#D00D0D;}
.form_cal_mini .day_sat {font:normal 10px Tahoma!important;color:#3C60BB !important;}
.form_cal_mini .today {background:#FFFBF3; border:1px solid #757dca;background:#FFFBF3 url(../../../images/las/en/common/form_cal_line.gif) repeat-x top;}
*:first-child+HTML .form_cal_mini .today {background:#FFFBF3 url(../../../images/las/en/common/form_cal_line.gif) repeat-y right; border:1px solid #757dca; }
.form_cal_mini .hasday {background:#fffbde;  }
.form_cal_mini .no_momth {background:#F5F5F5; color:#777; font:normal 10px Tahoma!important;}
.form_cal_mini .schedule {line-height:140%!important; font-size:10px; font-family:Tahoma!important; cursor:pointer; padding-left:5px; background: url(bu_arrow_blue_d.gif) no-repeat 0 5px; letter-spacing:-1px; }

/**************************************************************************************************************************************
  사이트맵
*************************************************************************************************************************************/
#sitemapWrap{position:relative; width:1000px; left:50%; margin: 0 0 0 -500px; overflow:hidden; }
.sitemap_Bbox_tl {width:1000px; margin:20px 0; clear:both;}
.sitemap_Bbox_tl .sitemap_Bbox_tr {background:#fff; border-right:1px solid #e1e1e1;}
.sitemap_Bbox_tl .sitemap_Bbox_tr .sitemap_Bbox_bl {background:#fff;border-left:1px solid #e1e1e1;}
.sitemap_Bbox_tl .sitemap_Bbox_tr .sitemap_Bbox_bl .sitemap_Bbox_br {background:#fff;border-top:1px solid #e1e1e1; border-bottom:1px solid #e1e1e1;}
.sitemap_list_box {overflow:hidden; margin:10px 0px 0 42px; padding-top:2px;}
.sitemap_first {margin-top:0;}
.sitemap_list_box div.sitemap_list {float:left; overflow:hidden;}
.sitemap_four div.sitemap_list {width:195px; padding:0px; margin-right:41px; margin-bottom:50px}
.sitemap_list_box div.sitemap_list ul.map_list {margin-left:10px;}
.sitemap_list_box div.sitemap_list ul.map_list li {color:#555; line-height:20px; font-weight:normal}
.sitemap_list_box div.sitemap_list ul.map_list li a {color:#5A3F28;}
.sitemap_list_box div.sitemap_list ul.map_list li a:hover {text-decoration:underline;}
.sitemap_list_box div.sitemap_list ul.map_list li .onedeps {padding-left:9px; background:url(../../../images/las/ko/icon/bu_arrow_t4.gif) no-repeat 0 4px; letter-spacing:0px; margin:10px 0; }
.sitemap_list_box div.sitemap_list ul.map_list li .onedeps a { font-weight:normal;font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; }
.sitemap_list_box div.sitemap_list ul.map_list li .onedeps a:hover { color:#5A3F28;}
.sitemap_list_box div.sitemap_list ul.map_list li ul.twodeps_list {padding:0 0 6px 10px; margin-top:5px;}
.sitemap_list_box div.sitemap_list ul.map_list li ul.twodeps_list li {padding-left:8px; background:url(../../../images/las/ko/icon/bu_dot_gray.gif) no-repeat 0 10px; font-size:11px; color:#666; letter-spacing:0px; font-family:Tahoma;}
.sitemap_list_box div.sitemap_list ul.map_list li ul.twodeps_list li a {color:#666;}
.sitemap_list_box div.site_1list ul.map_list li a:hover {color:#00a7e2;}
.sitemap_list_box div.site_2list ul.map_list li a:hover {color:#00afd5;}
.sitemap_list_box div.site_3list ul.map_list li a:hover {color:#06bdde;}
.sitemap_list_box div.site_4list ul.map_list li a:hover {color:#0fceb7;}
.sitemap_list strong.title {font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; display:block; font-size:12px; color:333; letter-spacing:0px; line-height:140%;padding-bottom:7px; text-indent:18px; border-bottom:1px solid #E98A23; margin-bottom:10px;background:url(../../../images/las/ko/main/site_title_bg.gif) no-repeat 4px 5px;}

/**************************************************************************************************************************************
     검색창
*************************************************************************************************************************************/

/* searchbox */
.search-area { }
.searchbox {margin:20px 5px 5px 10px; background:url(/images/clm/en/common/bg_searchbox.jpg) no-repeat left top; height:85px;}/* 2011-10-01   margin:20px 0 5px 5px;를 수정 */
.searchbox_in {padding:12px 0 0 75px; background:url(/images/clm/en/common/bg_searchbox_r.jpg) no-repeat right top; height:73px;}
.searchbox_in div.search {padding:19px 0 0 5px;}
.searchbox_in div.search input.txt {width:237px; height:22px; padding:0 10px; background:url(/images/clm/en/common/bg_input.gif) no-repeat left top; border:0; line-height:22px; font-size:11px; color:#AAAAAA;}
.searchbox_in {padding:0 !important; height:85px; margin-left:100px;}
.search_content .txt01 { padding-top:12px; }
.search_content .txt01 label { color:#5d6879; margin:0; padding:0 0 0 3px;  }
.search_content .txt01 * { vertical-align:middle;  }
.searchbox_in div.search { padding-left:0; position:relative; }
.searchbox_in div.search span.search-input {text-align:left; display:block; margin-right:145px; background:#ddd; background: url("/images/clm/en/common/bg_input_left.gif") no-repeat scroll left top transparent;  }
.searchbox_in div.search span.search-btn { position:absolute; right:10px; top:19px; padding-top:2px; padding-left:18px; height:22px; display:block; background: url("/images/clm/en/common/bg_input_right.gif") no-repeat scroll left top transparent;}
.searchbox_in div.search span.search-btn a { margin-right:3px; }
.searchbox_in div.search input.txt {width:90%; padding:0 10px; text-align:left; background:none; font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #aaa;}

.option_layer {position:absolute; padding:0 40px 0 0; display:none; right:3px; top:-145px; background:#fff; border:1px solid #268edb; }
.option_layer:after{clear:both;content:" ";display:block;height:0;visibility:hidden;}
.option_layer .btn_close { position:absolute; right:11px; top:10px; }
.option_layer label { padding:0; margin-left:0px; color:#5d6879;}
.option_layer input.input_text { width:175px; border:1px solid #7f9db9; color:#5d6879; }
.option_layer ul { margin:13px 0 5px 13px; }
.option_layer ul li { padding-left:8px; height:25px; background:url('/images/clm/en/new2011/dot_option.gif') left 6px no-repeat; }
.option_layer ul li * {vertical-align:middle; }
.option_layer ul li strong { float:left; padding-top:2px;  width:150px; color:#415671; }


/* Search detail*/
.sta_wrap h1,.sta_wrap input,.sta_wrap label,.sta_wrap a {margin:0;padding:0;font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;font-size:12px;line-height:14px}
.sta_wrap{position:relative;width:100%;height:39px;margin:0 auto;top:18px;left:10px;font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;font-size:12px}
*:first-child+html .sta_wrap{top:-1px;}
:root .sta_wrap{top:14px;left:1px;}

.sta_wrap img,.sta_wrap fieldset{border:none}
.sta_wrap a{color:#646464;text-decoration:none}
.sta_wrap .srch_box {overflow:hidden; height:40px}
.sta_wrap .srch_box .srch_box_sub{float:left;margin-right:4px;border:3px solid #64719f;width:300px; height:33px; background-position:254px 0px; background-color:#fff;}
.sta_wrap .srch_box .srch_box_sub .srch_txt{color:#000;font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;font-size:12px; border:0px;padding: 4px;width: 240px;height: 24px;line-height: 170%;vertical-align: middle;font-size: 14px;}
*:first-child+html .sta_wrap .srch_box .srch_box_sub .srch_txt{line-height:150%;}
*html .sta_wrap .srch_box .srch_box_sub .srch_txt{height: 32px;}
.sta_wrap .srch_box .btn_srch{margin-left:2px;font-size:0;zoom:1 ;width:59px;height:42px;}
	

/* Search detail_contract*/
.search_box {clear:both; border:1px solid #c1ccea; background:#F5F5F5;  width:411px; height:296px; margin-top:5px;margin-bottom:10px;}
.search_box_in {border:2px solid #e3eef3; border-color:#e3eef3 #bfcad7 #bfcad7 #e3eef3; padding:4px 5px 4px 0;background:#FBFBFB;}
.search_box_inner {padding:3px;}
.search_box_h1{color:#6074c1; font:bold 11px tahoma; border-bottom:1px solid #cfd8ef; margin:5px 5px 5px 10px; line-height:19px;}
.search_tb {width:100%; table-layout:fixed; position:relative;}
.search_tb td {font:normal 11px tahoma; height:25px}
.search_tb th{font:normal 11px tahoma; text-align:left; padding-left:5px;}
.search_tb span.btn {background:none; position:absolute; right:5px; bottom:-2px; float:left; margin-left:2px;}
.search_tb span.btn img {cursor:pointer;}
*+html .search_tb span.btn {right:5px; bottom:0;}
:root .search_tb span.btn {right:7px; bottom:2px;}
.text_search {border:1px solid #7F9DB9; border-right:none; width:70px; padding:0 1px; height:16px; margin:1px 0 0 0 }

.search_detail{position:absolute; border:1px solid #64719f;top:212px; left:12px;  width:414px;  z-index:1; background-color:#fff; padding:0 10px 0px 10px; line-height:20px;}
.search_detail .box{width:420px;font:normal 11px tahoma; line-height:22px; margin-bottom:5px;}
.search_detail .box label input {margin:0px -2px -5px -2px;}
*:first-child+html .search_detail .box label input {margin:0 -2px;}
@media screen and (-webkit-min-device-pixel-ratio:0)
{.search_detail .box label input {margin:0px 2px -3px 0px;}}
.search_detail .h1{color:#6074c1; font-weight:bold; border-bottom:1px solid #cfd8ef; margin:5px 5px 5px 0; font-size:11px;}
.search_divider{border-bottom:1px solid #cfd8ef; margin:5px; height:1px;}
.close_s {cursor:pointer; position:absolute;top:16px;right:12px;background:url(../../../images/las/en/main/icon_close.gif) no-repeat; width:11px; height:11px;display:inline-block;}


/**************************************
 **********  Canlendar Area ***********
 **************************************/
.calCss1{width:100%; background:#646B9F; height:28px; border-bottom:2px solid #839CF1;    }
.calCss1 select {font-size:12px;font-family:Tahoma;}
.calCss{margin-left:7px; }
.calCss td { border-right:1px solid #ffffff; font-size:10px;  background-color: #fff; width:24px; padding:2px 2px 2px 0; font-family:Tahoma; text-align:center;cursor:pointer;  }
.daySun{background-color: #F9F9F9; color: #FF0000; font-family:Tahoma; text-align:right; border:1px solid #CCCCCC; padding:2px 2px 2px 0;}
.daySat{background-color: #F9F9F9; color: #368CFE; font-family:Tahoma;  text-align:right; border:1px solid #CCCCCC;padding:2px 2px 2px 0; }
.dayEv{background-color: #F9F9F9; font-family:Tahoma; text-align:right; border:1px solid #CCCCCC; padding:2px 2px 2px 0;}
.dayOther{background-color: #fff; color: #CBC7BD; font-family:Tahoma;   text-align:right; border:1px solid #fff;padding:2px 2px 2px 0; }
.dayToday{background-color: #FFF0A5; color:#3834BF; text-align:right;padding-right:0px; border:1px solid #E6A32E; padding:2px 2px 2px 0;}
.selDay{background-color: #FEEEED; color:#85283E; text-align:right;padding-right:0px; border:1px solid #F195A2; padding:2px 2px 2px 0;}
.onDay{background-color: #FFF0A5; color:#3834BF; text-align:right;padding-right:0px; border:1px solid #E6A32E; padding:2px 2px 2px 0;}


.divBody{z-index:1; border:1px solid #DDDDDD; margin:1px; background-color:#fff; width:200px; position:absolute; display:none;}
.divHead{border:0px solid #D4D1BF; background-color: #ffffff;}
.divHeadLeft{width:11%;	padding-top:3px; font-size:8pt;	color:#FFBF14; text-align:right; vertical-align:middle; cursor:pointer;font-size:20px}
.divHeadOnleft{width:11%; padding-top:3px; font-size:8pt; color:#fff; text-align:right; vertical-align:middle; cursor:pointer;font-size:20px}
.divHeadRigth{width:11%; padding-top:3px; font-size:8pt; color:#FFBF14; text-align:left; vertical-align:middle; cursor:pointer;font-size:20px}
.divHeadOnRigth{width:11%; padding-top:3px; font-size:8pt; color:#fff; text-align:left; vertical-align:middle; cursor:pointer;font-size:20px}
.divHeadCenter{padding-top:2px; text-align:center; vertical-align:middle;width:78% }
.tBtn{border:0px solid #CBC7BD;	background-color:white;	padding:4px 4px 2px 4px; font-size:10px;font-family:Tahoma}
.tBtnOn{text-decoration:underline; cursor:pointer;}
.imageIcon{cursor:pointer; margin:1px 0 0 0; vertical-align:top}
*:first-child+html .imageIcon{cursor:pointer; margin:2px 0 0 0; vertical-align:top}
.calendar_layer{display:none; width:180px; height:160px; position:absolute; }