/*  SAMS/ Kim Eun Jin  */
/*  Date : 2011-03-08		   */

/*---------- Basic Style ----------*/
@charset "utf-8"; 

body { overflow-x:auto; overflow-y:auto; scrollbar-3dlight-color: #B4B4B4; scrollbar-arrow-color: #666666; scrollbar-base-color: #ffffff;
	scrollbar-darkshadow-color: #FFFFFF; scrollbar-face-color: #ffffff; scrollbar-highlight-color: #FFFFFF; scrollbar-shadow-color: #B4B4B4;
	margin-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; background-position: top; }
	
img { border:0}
td { font-size: 12px; color: #666666; line-height: 14px; font-family: dotum; }
a:link { color: #0d62a5; text-decoration: none; }
a:visited { color: #0d62a5; text-decoration: none; }
a:active { color: #0d62a5; text-decoration: none; }
a:hover { color: #0d62a5; text-decoration: none; }

.lnb_scr {scrollbar-arrow-color: #717a85; scrollbar-base-color: #d4d4d4;
	scrollbar-darkshadow-color: #f4f4f4; scrollbar-face-color: #d4d4d4; scrollbar-highlight-color: #f4f4f4; scrollbar-shadow-color: #B4B4B4;}

.td_pad30 {height:20px;}
.td_pad20 {height:10px;}
.td_pad10 {height:10px;}

/*---------- 텍스트 관련 ----------*/
.txt_org { font-family: dotum; font-size: 11px; color: #ff6e04; }
.txt_red { font-family: dotum; font-size: 14px; font-weight: bold; color: #e90000; }
.txt_11 { font-family: dotum; font-size: 11px; line-height: 120%; color: #666666; }
.txt_12 { font-family: dotum; font-size: 12px; line-height: 130%; color: #333333; }
.txt_blue { font-family: dotum; font-size: 11px; color: #0066cc; padding-top: 3px; padding-bottom: 3px; }


/*---------- site layout 관련 ----------*/
.lay_pad { padding-left: 10px; padding-right:10px; }
.top_pad { padding-right: 3px;	padding-left: 3px; }
.top_bg { background-image: url(/images/acts/top_bg.gif); background-repeat: repeat-x; background-position: top; height: 50px; vertical-align: bottom; padding-bottom: 3px; }


/*---------- common menu 관련 ----------*/
.common_menu { font-size: 11px; color: #555555; padding-right: 6px; padding-left: 6px; text-align: left;  background-image: url(/images/acts/common_menu_verbar.gif); background-repeat: no-repeat; background-position: right center;}

/*---------- GNB Global navigation bar 관련 ----------*/
.gnb_bg { background-image: url(/images/acts/gnb_bg.gif); background-repeat: repeat-x; text-align: left; width:100%; }
.gnb_left { background-image: url(/images/acts/gnb_bgL.gif); background-repeat: no-repeat; height: 35px; width: 10px; }
.gnb_right { background-image: url(/images/acts/gnb_bgR.gif); background-repeat: no-repeat; height: 35px; width: 10px; }
.gnb_menu { text-align: center; font-family: dotum; font-size: 12px; font-weight: bold; color: #FFFFFF; padding-right: 27px; padding-left: 27px; white-space: nowrap;
     background-image: url(/images/acts/gnb_verbar.gif); background-repeat: no-repeat; background-position: right center;}

.gnb_left_ov { background-image: url(/images/acts/gnb_bgL_ov.gif); background-repeat: no-repeat; height: 35px; width: 2px; }
.gnb_right_ov { background-image: url(/images/acts/gnb_bgR_ov.gif); background-repeat: no-repeat; height: 35px; width: 2px; }
.gnb_menu_ov { text-align: center; font-family: dotum; font-size: 12px; font-weight: bold; color: #ffda0d;
	padding-right: 25px; padding-left: 25px;  background-image: url(/images/acts/gnb_bg_ov.gif); background-repeat: repeat-x; white-space: nowrap; }
.gnb_menu_ov a:link { color: #ffda0d; text-decoration: none; }
.gnb_menu_ov a:visited { color: #ffda0d; text-decoration: none; }
.gnb_menu_ov a:active { color: #ffda0d; text-decoration: none; }
.gnb_menu_ov a:hover { color: #ffda0d; text-decoration: none; }

.gnb_bar { 	background-image: url(/images/acts/gnb_bar.gif); background-repeat: repeat-x; background-position: top; height: 10px; }

/*---------- copyright 관련 ----------*/
.copy { background-image: url(/images/acts/copy.gif); background-repeat: repeat-x; text-align: right; vertical-align: bottom; height: 65px; padding-right: 15px; padding-left: 15px; }
.copy_bg { background-image: url(/images/acts/copy_bg.gif); background-repeat: repeat-x; text-align: left; vertical-align: bottom; height: 40px; padding-bottom: 7px;
	 padding-left: 27px; }

/*---------- left navigation layout관련 ----------*/

.lenavi_ti_left { background-image: url(/images/acts/lnb_title_bgL.gif); background-repeat: no-repeat; background-position: top; height: 40px; width: 9px; }
.lenavi_ti { font-family: dotum; font-size: 12px; font-weight: bold; color: #FFFFFF; background-image: url(/images/acts/lnb_title_bg.gif); background-repeat: repeat-x; height: 34px; 
    padding-left: 3px; }
.lenavi_ti_right { background-image: url(/images/acts/lnb_title_bgR.gif); background-repeat: no-repeat; background-position: top; width: 9px; height: 40px; }
.left_bg { background-color: #f4f4f4; border-left:#c7c7ca 1px solid; border-right:#c7c7ca 1px solid; padding: 0px 0px; }

.inb_01 { font-family: dotum; font-size: 12px; font-weight: bold; color: #333333; background-image: url(/images/acts/lnb_bul.gif); background-repeat: no-repeat; 
	padding: 7px 5px 5px 46px; height: 30px; background-position: left center; }
.inb_01_ov { font-family: dotum; font-size: 12px; font-weight: bold; color: #395386; background-image: url(/images/acts/lnb_bul_on.gif);
	background-repeat: no-repeat; height: 30px; padding: 7px 5px 5px 46px; background-position: left center; }

.inb_02 { font-family: dotum; font-size: 11px; color: #888888; background-image: url(/images/acts/lnb_bul_squ.gif); height: 24px; 
	background-repeat: no-repeat; padding: 3px 3px 4px 55px; background-position: left center; }
.inb_02_ov { background-color: #d4d4d4; font-family: dotum; font-size: 11px; color: #395386; height: 24px; 
	background-image: url(/images/acts/lnb_bul_squ.gif); background-repeat: no-repeat; padding: 3px 3px 4px 55px; background-position: left center; }

.inb_03 { font-family: dotum; font-size: 11px; color: #666666; padding: 3px 3px 4px 55px; background-position: left center; }
.inb_03_ov { font-family: dotum; font-size: 11px; color: #d37311; padding: 3px 3px 4px 55px; background-position: left center; background-color: #e7e7e7; }



/*---------- title 관련 ----------*/
.title { font-size: 14px; font-weight: bold; color: #1653a3; vertical-align: bottom; }
.title_02 { font-size: 12px; font-weight: bold;	color: #333333;	vertical-align: bottom;	padding-bottom: 3px; }
.subtitle {	font-family: doctum; font-size: 12px; font-weight: bold; color: #333333; vertical-align: bottom;
	padding-bottom: 3px; height: 37px; background-image: url(/images/acts/ico_subTitile.gif); padding-left: 20px; background-repeat: no-repeat; background-position: left bottom; }
.subtitle_bar { background-image: url(/images/acts/titleBar.gif);	background-repeat: repeat-x; height: 3px; }
.sub_table_title { font-size: 12px; color: #333333; font-weight: bold; vertical-align: bottom; height: 37px; padding-left: 20px; padding-bottom: 3px;
    background-image: url(/images/acts/ico_sub_TableTitle.gif); background-repeat: no-repeat; background-position: left bottom; }
.sub_TT { font-size: 12px; color: #4f4f4f; font-weight: bold; vertical-align: bottom; height: 37px; padding-left: 9px; padding-bottom: 3px;
    background-image: url(/images/acts/ico_subTT.gif); background-repeat: no-repeat; background-position: left center; }
.subtitle_02{	font-family: doctum; font-size: 12px; font-weight: bold; color: #666666; vertical-align: bottom;
	height: 16px; }



/*---------- form관련 ----------*/
.input { font-size: 11px; color: #333333; border: 1px solid #b4b4b4; background-color: #FFFFFF; width: 195px; padding-right: 2px; padding-left: 2px; }
.inputF { font-size: 11px; color: #333333; border: 1px solid #b4b4b4; background-color: #FFFFFF; width: 100%; padding-right: 2px; padding-left: 2px; }
.select { font-size: 11px; color: #333333; border: 1px solid #b4b4b4; background-color: #FFFFFF; padding-right: 2px; padding-left: 2px; }
.selectF { font-size: 11px;	color: #333333;	border: 1px solid #b4b4b4; background-color: #FFFFFF; padding-right: 2px; padding-left: 2px; }
.selectA { border: 1px solid #b4b4b4; background-color: #ffffff;  padding-right: 2px; padding-left: 2px; }
.select_color { background-color: #d9ebff; font-size: 12px; padding-right: 2px; padding-left: 2px; }
input, textarea, select, option { ime-mode:active} 



/*---------- 버튼 관련 ----------*/
/*---------- 기능 이동 버튼 ----------*/
.btn_left { background-image: url(/images/acts/btn_basicL.gif); height: 19px; width: 7px; }
.btn_left_excel { background-image: url(/images/acts/btn_basicL_excel.gif); height: 19px; width: 21px; }
.btn { background-image: url(/images/acts/btn_basicB.gif); text-align: center; padding: 0 3px 0 3px; height: 19px; font-family: dotum; font-size: 11px; font-weight: bold; color: #ffffff; }
.btn_right { background-image: url(/images/acts/btn_basicR.gif); height: 19px;width: 7px; }
.btn_pad { padding-top: 3px; padding-bottom: 3px; padding-left: 2px; text-align: right; }
.btn_padT { padding-bottom: 3px; padding-left: 2px; text-align: right; }
.btn_padBB { padding-bottom: 3px; text-align:right; vertical-align: bottom; }
.btn_padB { padding-bottom: 5px; padding-right: 6px; text-align:right; vertical-align: bottom; }

/*---------- 기본 버튼 ----------*/
.btnB_left { background-image: url(/images/acts/btnB2_basicL.gif); height: 24px; width: 20px; }
.btnB { background-image: url(/images/acts/btnB.gif); text-align: center; padding: 0px 3px; height: 24px; font-weight: bold; font-size: 12px; color: #ffffff; white-space:nowrap; }
.btnB_right { background-image: url(/images/acts/btnB_basicR.gif); height: 24px;width: 11px; }

.btnG_left { background-image: url(/images/acts/btnG_basicL.gif); height: 24px; width: 20px; }
.btnG { background-image: url(/images/acts/btnG.gif); text-align: center; padding: 0px 3px; height: 24px; font-weight: bold; font-size: 12px; color: #ffffff; white-space:nowrap; }
.btnG_right { background-image: url(/images/acts/btnG_basicR.gif); height: 24px;width: 11px; }

/*---------- 테이블 내 버튼 관련 ----------*/
.btnin_left { background-image: url(/images/acts/btn_tinL.gif); height: 19px; width: 7px; }
.btnin { background-image: url(/images/acts/btn_tinB.gif); text-align: center; height: 19px; padding-top: 2px; font-family: dotum; font-size: 11px; color: #666666; white-space:nowrap; }
.btnin_right { background-image: url(/images/acts/btn_tinR.gif); height: 19px; width: 7px; }
.btnin_D { background-image: url(/images/acts/btn_tinD.gif); height: 19px; width: 16px; }
.btnin_p  { background-image: url(/images/acts/btn_tinP.gif); height: 19px; width: 16px; }


/*---------- tab 관련 ----------*/
.tab_left { background-image: url(/images/acts/tab_left.gif); height: 25px; width: 7px; }
.tab { background-image: url(/images/acts/tab.gif); text-align: center; vertical-align: middle; height: 25px; font-family: dotum; font-size: 12px; color: #666666;
	padding-top: 3px; padding-right: 3px; padding-left: 3px; }
.tab_right { background-image: url(/images/acts/tab_right.gif); height: 25px; width: 7px; } 
.tab_left_ov { background-image: url(/images/acts/tab_left_ov.gif); height: 25px; width: 7px; }
.tab_ov { background-image: url(/images/acts/tab_ov.gif); text-align: center; vertical-align: middle; height: 25px; font-family: dotum; font-size: 12px; color: #FFFFFF;
	padding-top: 3px; padding-right: 3px; padding-left: 3px; }
.tab_right_ov { background-image: url(/images/acts/tab_right_ov.gif); height: 25px; width: 7px; }
.tab_pad { vertical-align: bottom; height: 25px; padding-bottom: 1px; padding-right: 1px; }
.tab_line { padding-bottom: 1px; background-color: #c0cddd; height: 1px; }


/*---------- table 관련 ----------*/
.tb_fix {table-layout:fixed; }
.tx_short {overflow: hidden; text-overflow: ellipsis; white-space: nowrap; br:no;}
/*---------- 테이블 border 관련 ----------*/
.sertb_brdr { background-color: #b6b5b5;}
.tb_brdr { background-color: #c0cddd; border-top:#6d99ce 1px solid;  }
.tb_brdr02 { background-color: #c0cddd; border-left:#6d99ce 1px solid;  }


/*---------- 검색 테이블 관련 ----------*/
.ser_ti { font-family: doctum; background-color: #ebebeb; background-image: url(/images/acts/ico_td.gif); background-repeat: no-repeat; padding-left: 20px; background-position: left center;
	padding-top: 4px; padding-right: 5px; padding-bottom: 2px; font-size: 12px; color: #333333;	height: 28px; white-space: nowrap; }
.ser_td { font-family: doctum; background-color: #FaFaFa; padding: 4px 6px; font-size: 11px; color: #636363; white-space: nowrap;}
.ser_td2 { font-family: doctum; background-color: #FaFaFa; padding: 4px 6px; font-size: 11px; color: #636363;}
.serB_bg { background-color: #f9f9f9; padding: 6px; width: 80px; vertical-align: middle; text-align: center; }
.serB1_bg { background-color: #f9f9f9; padding: 6px; width: 120px; vertical-align: middle; text-align: center; }

/*---------- 보기 테이블 관련 ----------*/
/*---------- Gray tone ----------*/
.view_ti { font-family: doctum; background-color: #f7f6f6; background-image: url(/images/acts/ico_view.gif); background-repeat: no-repeat; background-position: left center;
    padding-left: 20px;	padding-top: 2px; padding-right: 5px; padding-bottom: 2px; font-size: 11px;	color: #333333; white-space: nowrap;}
.view_td { font-family: doctum; font-size: 11px; color: #333333; background-color: #fafafa;	padding: 2px; white-space: nowrap;}
/*---------- Blue tone ----------*/
.viewB_ti { font-family: doctum; background-color: #edf1f4;	background-image: url(/images/acts/ico_view.gif); background-repeat: no-repeat; background-position: left center;
	padding-left: 20px;	padding-top: 2px; padding-right: 5px; padding-bottom: 2px; font-size: 11px; color: #333333; white-space: nowrap;}
.viewB_td {	font-family: doctum; font-size: 11px; color: #333333; background-color: #f0f4f6; padding: 2px; white-space: nowrap;}


/*---------- 리스트 테이블 관련 ----------*/
.tb_ti { font-family: dotum; color: #395386; background-image: url(/images/acts/bg_listTi_top.gif); background-repeat: repeat-x; background-color: #e7ebf1; border-top:#ffffff 1px solid; padding: 0 2px 0 2px; text-align: center; 
    font-size: 12px; font-weight: bold; height:px; white-space: nowrap;}
.tb_ti02 { font-family: dotum; color: #395386; background-color: #edeff3; background-image: url(/images/acts/ico_td02.gif); background-repeat: no-repeat; background-position: left center; 
    border-left:#ffffff 1px solid; padding-left: 19px; text-align: left; font-size: 12px; font-weight: bold; }
.tb_tiB { font-family: dotum; color: #58595b; background-image: url(/images/acts/bg_listTi_bottom.gif); background-repeat: repeat-x; padding: 6px; text-align: center; font-size: 12px;  height:28px; }
.td_al { background-color: #FFFFFF; padding: 6px; font-family: dotum; font-size: 12px; color: #636363; white-space: nowrap;}
.td_al  a:link { color: #0066cc; text-decoration: none; }
.td_al  a:visited { color: #0066cc; text-decoration: none; }
.td_al  a:active { color: #0066cc; text-decoration: none; }
.td_al  a:hover { color: #0066cc; text-decoration: underline; }
.td_ar { background-color: #FFFFFF; padding: 6px; font-size: 12px; color: #636363; text-align: right; white-space: nowrap;}
.td_ar  a:link { color: #0066cc; text-decoration: none; }
.td_ar  a:visited { color: #0066cc; text-decoration: none; }
.td_ar  a:active { color: #0066cc; text-decoration: none; }
.td_ar  a:hover { color: #0066cc; text-decoration: underline; }
.td_ac { background-color: #FFFFFF; padding: 6px; font-size: 12px; color: #636363; text-align: center; white-space: nowrap;}
.td_ac  a:link { color: #0066cc; text-decoration: none; }
.td_ac  a:visited { color: #0066cc; text-decoration: none; }
.td_ac  a:active { color: #0066cc; text-decoration: none; }
.td_ac  a:hover { color: #0066cc; text-decoration: underline; }
.td_af { background-color: #FFFFFF; padding: 6px; font-size: 12px; color: #636363;}
.td_af  a:link { color: #0066cc; text-decoration: none; }
.td_af  a:visited { color: #0066cc; text-decoration: none; }
.td_af  a:active { color: #0066cc; text-decoration: none; }
.td_af  a:hover { color: #0066cc; text-decoration: underline; }

.tr_list { background-color: #ffffff; padding: 6px; font-family: dotum; font-size: 12px; color: #333333; white-space: nowrap; text-align: center;}
.tr_list_over { background-color: #f5f5f5; padding: 6px; font-family: dotum; font-size: 12px; color: #333333; white-space: nowrap; text-align: center;}


/*---- 테이블 유형2 -----*/
.td_ti_01 { border-top: #ffffff 1px solid; border-left: #ffffff 1px solid; background-color: #e6eaf0; padding-left: 6px; text-align: center; font-size: 12px; color: #395386; font-weight: bold; padding: 6px; }
.td_ti_02 { border-top: #ffffff 1px solid; border-left: #ffffff 1px solid; background-color: #faf4f0; padding-left: 6px; text-align: center; font-size: 12px; color: #395386; font-weight: bold; padding: 6px; }
.td_al_02 { border-top: #ffffff 1px solid; border-left: #ffffff 1px solid; background-color: #f5f5f5; padding-left: 6px; font-size: 12px; color: #395386; height:26px; text-align: center; }
.td_al_03 { border-top: #ffffff 1px solid; border-left: #ffffff 1px solid; background-color: #faf4f0; padding-left: 6px; font-size: 12px; color: #395386; height:26px; text-align: center; }
.td_ac_03 { border-top: #ffffff 1px solid; border-left: #ffffff 1px solid; background-color: #faf4f0; font-size: 12px; color: #395386; height:26px; text-align: center; }

.td_pad { height: 10px; }
.td_title_bar { font-size: 11px; font-weight: bold; color: #FFFFFF; background-color: #80adca; padding: 3px 2px 3px 7px; }
 
.tb_subti { font-size: 11px; font-weight: bold; color: #585858; background-color:#f6f6f6; text-align: center; padding: 3px; }
.tb_subtiB { font-size: 11px; font-weight: bold; color: #006699; background-color: #f8fdff; text-align: center; padding: 3px; }

/*---------- page viewer 관련 ----------*/
.total { font-family: dotum; font-size: 11px; color: #58595b; padding-left: 18px; background-image: url(/images/acts/ico_total.gif); background-repeat: no-repeat; background-position: left center; }
.page_navi { padding-left: 10px;; padding-right: 10px; padding-top: 1px; }
.page_naviT { font-family: dotum; font-size: 12px; color: #58595b; text-align: center; vertical-align: middle; padding-top: 1px; }
.page_naviT a:link { color: #58595b;}
.page_naviT a:visited  { color: #58595b; }
.page_naviT a:active { color: #58595b;}
.page_naviT a:hover { color: #58595b; }

/*---------- box 안 테이블 관련 ----------*/
.tb_ti_gray { background-image: url(/images/acts/ico_arrowG.gif); background-repeat: no-repeat; background-position: left center; 
    padding-left: 20px; padding-top: 2px; padding-right: 5px; padding-bottom: 2px; font-size: 11px; color: #333333; border-right:#e8e8e8 1px solid; border-bottom:#e8e8e8 1px solid; }
.tb_td_gray { padding-left: 5px; padding-top: 2px; padding-right: 5px; padding-bottom: 2px;	font-size: 11px; color: #333333; border-bottom:#e8e8e8 1px solid; }
.box_verline { background-image: url(/images/acts/box_verline.gif); background-repeat: no-repeat; background-position: center center; }

/*---------- 박스 레이아웃 관련 ----------*/
.boxB { border: 0px solid #dadada; padding: 0px ; }
.boxB_gray { border: 1px solid #dadada; background-color: #fbfbfb; padding: 0px 3px 0px 5px ; }

.td_ac_02 { background-color: #ffffff; padding: 4px; font-size: 12px; color: #636363; text-align: center; white-space: nowrap;}
.tblin_br { background-color: #ffffff;}
.tblin_ti { background-color: #eaf0f4; height: 21px; color: #395386; padding: 6px; text-align: center; font-size: 11px; }
.tblin_al { background-color: #f2f5f7; color: #666666; padding: 4px 6px; text-align: left; font-size: 11px; }
.tblin_ac { background-color: #f2f5f7; color: #666666; padding: 4px 6px; text-align: center; font-size: 11px; }
.tblin_ar { background-color: #f2f5f7; color: #666666; padding: 4px 6px; text-align: right; font-size: 11px; }