/** Button Ico **/
/* Basic */
.ico_yes {
	background:url(../../images/secfw/btn/bt_yes.gif) no-repeat left top!important;
	height:22px;
	padding-left:22px!important;	
}
.ico_no {
	background:url(../../images/secfw/btn/bt_no.gif) no-repeat left top!important;
	height:22px;
	padding-left:22px!important;	
} 
.ico_add {
	background:url(../../images/secfw/btn/bt_add.gif) no-repeat left top!important;
	height:22px;
	padding-left:22px!important;	
}
.ico_delete {
	background:url(../../images/secfw/btn/bt_delete.gif) no-repeat left top!important;
	height:22px;
	padding-left:22px!important;	
}
.ico_modify {
	background:url(../../images/secfw/btn/bt_modify.gif) no-repeat left top!important;
	height:22px;
	padding-left:22px!important;	
}
.ico_verification {
	background:url(../../images/secfw/btn/bt_verification.gif) no-repeat left top!important;
	height:22px;
	padding-left:22px!important;	
}
.ico_cancel {
	background:url(../../images/secfw/btn/bt_cancel.gif) no-repeat left top!important;
	height:22px;
	padding-left:22px!important;	
}
.ico_mail {
	background:url(../../images/secfw/btn/bt_mail.gif) no-repeat left top!important;
	height:22px;
	padding-left:22px!important;	
}
.ico_print {
	background:url(../../images/secfw/btn/bt_print.gif) no-repeat left top!important;
	height:22px;
	padding-left:22px!important;	
}
.ico_excel_down {
	background:url(../../images/secfw/btn/bt_excel_down.gif) no-repeat left top!important;
	height:22px;
	padding-left:22px!important;	
}
.ico_excel_up {
	background:url(../../images/secfw/btn/bt_excel_up.gif) no-repeat left top!important;
	height:22px;
	padding-left:22px!important;	
}
.ico_down {
	background:url(../../images/secfw/btn/bt_down.gif) no-repeat left top!important;
	height:22px;
	padding-left:22px!important;	
}
.ico_up {
	background:url(../../images/secfw/btn/bt_up.gif) no-repeat left top!important;
	height:22px;
	padding-left:22px!important;	
}
/* Page */
.ico_prev {
	background:url(../../images/secfw/btn/bt_prev.gif) no-repeat left top!important;
	height:22px;
	padding-left:22px!important;	
}
.ico_see_all {
	background:url(../../images/secfw/btn/bt_see_all.gif) no-repeat left top!important;
	height:22px;
	padding-left:22px!important;	
}
/* Config */
.ico_edit {
	background:url(../../images/secfw/btn/bt_edit.gif) no-repeat left top!important;
	height:22px;
	padding-left:22px!important;	
}
.ico_category_edit {
	background:url(../../images/secfw/btn/bt_category_edit.gif) no-repeat left top!important;
	height:22px;
	padding-left:22px!important;	
}