
@charset "utf-8";

/**************************************
 ************  Font Area **************
 **************************************/
@font-face{font-family:nanumgothic;src:url(../../../images/clm/en/font/NanumGothic.eot)}

/**************************************
 **********  Canlendar Area ***********
 **************************************/
.calCss{font-size: 8pt;	text-align: right;	width:100%;	border-collapse: collapse; border-spacing: 0;}
.daySun{background-color: #FBFBFB; border:1px solid #CBC7BD; padding:2px 4px 0px 3px; color: #FF0000;}
.daySat{background-color: #FBFBFB; border:1px solid #CBC7BD; padding:2px 4px 0px 3px; color: #368CFE;}
.dayEv{background-color: #FBFBFB; border:1px solid #CBC7BD; padding:2px 4px 0px 3px;}
.dayOther{background-color: #FBFBFB; border:1px solid #CBC7BD; padding:2px 4px 0px 3px;	color: #CBC7BD;}
.dayToday{background-color: #368CFE; border:1px solid #CBC7BD; font-weight:bold; padding:2px 4px 0px 3px; color:white;}
.selDay{background-color: #CF4040; border:1px solid #CBC7BD; font-weight:bold;padding:2px 4px 0px 3px; text-decoration:underline; color:white;}
.onDay{background-color: #006060; border:1px solid #4B22C0; padding:2px 4px 0px 3px; cursor:pointer; color:white;}
.divBody{z-index:1; border:1px solid #DDDDDD; margin:1px; background-color:#ECEADF; width:177px; position:absolute; display:none;}
.divHead{border:1px solid #D4D1BF; background-color: #ffffff;}
.divHeadLeft{width:11%;	padding-top:3px; font-size:8pt;	color:#CF4040; text-align:right; vertical-align:middle; cursor:pointer;}
.divHeadOnleft{width:11%; padding-top:3px; font-size:8pt; color:#18CCA8; text-align:right; vertical-align:middle; cursor:pointer;}
.divHeadRigth{width:11%; padding-top:3px; font-size:8pt; color:#CF4040; text-align:left; vertical-align:middle; cursor:pointer;}
.divHeadOnRigth{width:11%; padding-top:3px; font-size:8pt; color:#18CCA8; text-align:left; vertical-align:middle; cursor:pointer;}
.divHeadCenter{padding-top:2px; text-align:center; vertical-align:middle;}
.tBtn{border:1px solid #CBC7BD;	background-color:white;	padding:4px 4px 2px 4px; font-size:8pt;}
.tBtnOn{text-decoration:underline; cursor:pointer;}
.imageIcon{cursor:hand;}

.calendar_layer{display:none; width:180px; height:160px; position:absolute; }
/**************************************
 ************ common Area *************
 **************************************/

body, div, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p, form, fieldset, input, table, tr, th, td, a{margin:0;padding:0; font-family:gulim, arial;}
html, body {}
html {height:100%; scrollbar-face-color: #FFFFFF; scrollbar-shadow-color: #CCCCCC; scrollbar-highlight-color: #CCCCCC; scrollbar-3dlight-color: #FFFFFF; scrollbar-darkshadow-color: #FFFFFF;  scrollbar-track-color: #F7F7F7; scrollbar-arrow-color: #B8B8B8;}
body {height:100%; font-family:nanumgothic, Dotum, tahoma, Arial;color:#363636;font-size:12px;background:#fff;*word-break:break-all;-ms-word-break:break-all;}
h1,h2,h3,h4,h5,h6,pre,code {font-size:1em; margin:0; padding:0}
ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input {margin:0; padding:0}
table {clear:both; border-collapse:collapse; border-spacing:0;}
table th,table td {font:normal 12px/15px gulim,arial; }
:focus {outline: 0;} 
img, fieldset, iframe {border:0 none;}
ul, ol, li {list-style:none;}
img, input, textarea,select {font-family:gulim, Arial; vertical-align:middle;}
input {height:16px; line-height:16px;}
*html input {height:18px; line-height:16px;}
hr {display:none; clear:both;}
a { font-family:gulim, Arial; text-decoration:none; cursor:pointer;}
a:hover {color:#17549f; text-decoration:none; font-family:gulim, Arial;}
em {font-style:normal;}
address {font-style:normal; padding:7px;}
button, label {cursor:pointer;}
form {padding:0;border:0 none;  font-size:12px;}
select,text,input {font-size:12px; color:#5D6879;}
textarea {color:#5D6879;font-size:12px; border:1px solid #7F9DB9;padding:5px;line-height:18px; word-wrap:break-word!important}
legend {visibility:hidden; height:0; width:0; font-size:0;}
p {line-height:16px;}
select {margin:0 0 0 0px;}
/*:root select {margin:0 0 0 -2px;}*/
label {padding-right:9px; text-decoration:none;}
*html a {margin-left:-1px;}
.all {width:100%; margin:0 0px 1px 0px;}
.clear {clear:both !important; height:1px; line-height:0; font-size:0;}
.cp {cursor:pointer;}
.fix {table-layout:fixed;}
.pr {position:relative}
.bg_non {background:none !important;}

/***** select *****/
select.sel_all {width:100%;}
select.sel_wid01 {width:}
select.sel_wid02 {width:200px;}








/***** form *****/
.radio {margin:0px 1px 0 -2px;}
*html .radio {margin:-1px 1px 0 -2px;}
*+html .radio {margin:-1px -1 0 -4px ;}

.checkbox {margin:-2px 1px -1px 0;}
*+html .checkbox {margin:-2px -1 -1px 0;}

.text {border:1px solid #7F9DB9; padding:0 1px; margin:0 0px 0 -1px;}
.text_01 {border:1px solid #7F9DB9; padding:0 1px; margin:0 0px 0 -1px; width:90px;}

:root text {margin:0 0 0 -2px;}

.input_text {border:2px solid #209FC0; width:100%;margin:0 0px 0 -1px;}
.text_gray {font-family:dotum !important; font-size:11px;color:#AAA698}
.text_full {width:99%; border:1px solid #7F9DB9; padding:0 1px; margin:0 0px 1px 0px;}
:root .text_full,:root .text_disable_full {width:99%; margin:0 0px 0 -2px; padding:1px 1px 0 1px; height:15px;} 
.text_disable {border:1px solid #7F9DB9; background:#eaeaea; color:#b8b8b8; padding:0 1px; margin:0 0px 0 -1px;}
.text_disable_full {width:99%; border:1px solid #7F9DB9; background:#eaeaea; color:#b8b8b8; padding:0 1px; margin:0 0px 0 -1px;}
.text_readonly {border:1px solid #7F9DB9; background:#eaeaea; color:#b8b8b8; padding:0 1px; margin:0 0px 0 -1px;}
.text_readonly_full {width:99%; border:1px solid #7F9DB9; background:#eaeaea; color:#b8b8b8; padding:0 1px; margin:0 0px 0 -1px;}

.text_form {float:left; margin:2px 0 0 7px;}
.text_form .radio,.text_form label {margin:0 0 5px}

.text_area_full {border:1px solid #7F9DB9 !important; width:99%; padding:0 1px; margin:0 0px 0 -1px;}
.text_area_01 {border:1px solid #7F9DB9 !important; width:80%; padding:0 1px; margin:0 0px 0 -1px;}
.text_area_full_hidden {border:1px solid #7F9DB9!important; width:99%; padding:0 1px; margin:0 0px 0 -1px; overflow:hidden}
.text_area_disable_full {background:#eaeaea; color:#b8b8b8;border:1px solid #7F9DB9; width:99%; padding:0 1px; margin:0 0px 0 -1px;}
.text_area_disable_full_hidden {background:#eaeaea; color:#b8b8b8; border:1px solid #7F9DB9; width:100%; padding:0 1px; margin:0 0px 0 -1px; overflow:hidden}
.text_area_readonly_full {background:#eaeaea; border:1px solid #7F9DB9; width:99%; padding:0 1px; margin:0 0px 0 -1px;}
.text_area_readonly_full_hidden {background:#eaeaea; border:1px solid #7F9DB9; width:99%; padding:0 1px; margin:0 0px 0 -1px; overflow:hidden}

.text_calendar {border:1px solid #7F9DB9; border-right:none; width:80px; padding:0 1px; margin:0 0 0 -1px; }
.text_calendar_disable {background:#F0F1F3;color:#b8b8b8; border:1px solid #7F9DB9; border-right:none; width:61px; padding:0 1px; margin:0 0 0 -1px;}
.text_calendar_readonly {background:#F6F9FE; color:#78869C; border:1px solid #7F9DB9; border-right:none; width:61px; padding:0 1px; margin:0 0 0 -1px;}

:root .text_calendar, :root .text_calendar_disable, :root .text_calendar_readonly, :root .text_search,:root .text_add, :root .text_search_disable, :root .text_search_readonly {padding-top:2px; height:14px;}

.text_add {border:1px solid #7F9DB9; border-right:none; width:61px; padding:0 1px; margin:0 0 0 -1px; }
.text_add_disable {background:#F0F1F3;color:#b8b8b8; border:1px solid #7F9DB9; border-right:none; width:61px; padding:0 1px; margin:0 0 0 -1px;}
.text_add_readonly {background:#F6F9FE; color:#78869C; border:1px solid #7F9DB9; border-right:none; width:61px; padding:0 1px; margin:0 0 0 -1px;}

.text_search {border:1px solid #7F9DB9; border-right:none; width:105px; padding:0 1px; margin:0 0 0 -1px;}
.text_search_disable {background:#F0F1F3;color:#b8b8b8; border:1px solid #7F9DB9; border-right:none; width:105px; padding:0 1px; margin:0 0 1px -1px;}
.text_search_readonly {background:#F6F9FE; color:#78869C; border:1px solid #7F9DB9; border-right:none; width:105px; padding:0 1px; margin:0 0 1px -1px;}

.text_search2 {border:1px solid #7F9DB9; border-right:none;padding:0 1px; margin:0 0px 0 -1px; }
.text_search2_disable {background:#F0F1F3;color:#b8b8b8; border:1px solid #7F9DB9; border-right:none; padding:0 1px; margin:0 0 0 -1px;}
.text_search2_readonly {background:#F6F9FE; color:#78869C; border:1px solid #7F9DB9; border-right:none; padding:0 1px; margin:0 0 0 -1px;}

.text_search3 {border:1px solid #7F9DB9; border-right:none;padding:0 1px; margin:0 0px 0 -1px; width:90%;}
.text_search3_disable {background:#F0F1F3;color:#b8b8b8; border:1px solid #7F9DB9; border-right:none; padding:0 1px; margin:0 0 0 -1px; width:90%;}
.text_search3_readonly {background:#F6F9FE; color:#78869C; border:1px solid #7F9DB9; border-right:none; padding:0 1px; margin:0 0 0 -1px; width:90%;}

.text_department {border:1px solid #7F9DB9; border-right:none; width:105px; padding:0 1px; margin:0 0px 0 -1px; }
.text_department_disable {background:#F0F1F3;color:#b8b8b8; border:1px solid #7F9DB9; border-right:none; width:105px; padding:0 1px; margin:0 0 0 -1px;}
.text_department_readonly {background:#F6F9FE; color:#78869C; border:1px solid #7F9DB9; border-right:none; width:105px; padding:0 1px; margin:0 0 0 -1px;}

._multi {height:106px; width:100%;}

.text_calendar02 {border:1px solid #7F9DB9; border-right:none; width:68px; padding:0 1px; margin:0 0 0 0px; }

/***** Align *****/
.fL{float:left}
.fR{float:right}
.tR {text-align:right !important}
.tL {text-align:left !important}
.tC {text-align:center !important; padding-left:2px !important;padding-right:2px !important;}
.fLm{float:left; margin-right:10px}
.vt {vertical-align:top; padding-top:4px !important;;}
.vm {vertical-align:middle !important;}
.vb {vertical-align:bottom !important;}

/***** Color *****/
.astro {color:#ff9933 !important;}
.red_b {color:#ff5a00 !important; font-weight:bold !important;}
.org_b {color:#ff3600 !important; font-weight:bold !important;}
span.org_b {color:#ff9933 !important; font-weight:bold !important;}
.org {color:#FF7803; font:normal 11px dotum ; padding-top:3px; line-height:160%}
.red {color:#EE571C; line-height:160%; margin:0; padding:0;}
*html red {padding-top:9px;}
.blue {color:#3334fe; line-height:160%}
.g_blue {color:#0069BA}
.blueD {color:#5f6da4}
.th-color {color:#1d6498;}
.fwb {font-weight:bold;}
.bul_icon {background:url(../../../images/clm/en/icon/bu_dot_gray.gif) no-repeat 0 4px; padding-left:10px;} 

/***** Line *****/
.hr_line {border-bottom:1px solid #E5E5E5; padding-bottom:3px;}  

/***** Scroll *****/
.txtover {overflow: hidden; text-overflow: ellipsis; white-space:nowrap; -o-text-overflow: ellipsis; -moz-binding: url('ellipsis.xml#ellipsis'); display:inline-block; width:100%;}
.txtover02 {overflow: hidden; text-overflow: ellipsis; white-space:nowrap;-moz-binding: url('ellipsis.xml#ellipsis'); display:inline-block; width:180px; }
.txtover03 {overflow: hidden; text-overflow: ellipsis; white-space:nowrap;-moz-binding: url('ellipsis.xml#ellipsis'); display:inline-block; width:320px; }
.txtover04 {overflow: hidden; text-overflow: ellipsis; white-space:nowrap;-moz-binding: url('ellipsis.xml#ellipsis'); display:inline-block; width:220px; }
.overflow {overflow: hidden; text-overflow: ellipsis; white-space:nowrap;-moz-binding: url('ellipsis.xml#ellipsis'); text-align:left;}
.overflow a {-moz-binding: url('ellipsis.xml#ellipsis');}
.dscrollxy {width:100%; clear:both; overflow-x:auto; overflow-y:auto; scrollbar-face-color: #F1F1F1; margin-bottom:20px;}
.dscrollx {overflow-x:scroll; overflow-y:hidden; height:100%; scrollbar-face-color: #F1F1F1; padding-top:1px;}
.form_sub .dscrollx {margin-bottom:0}
.dscrolly {overflow-y:auto; overflow-x:hidden; width:100%; scrollbar-face-color: #F1F1F1; padding-top:1px;}
.list_sub .dscrolly {margin:0 0 1px 0!important;}
*+html .list_sub .dscrolly {width:98% !important;}

.dscrollx {clear:both; width:100%; overflow-x:auto; overflow-y:hidden; scrollbar-face-color: #F1F1F1; margin-bottom:20px;}
.left_dscroll {overflow-y:auto; width:159px; height:500px; scrollbar-face-color:#F1F1F1;}
#content .dscrolly  {margin-bottom:15px}
*+html #content .dscrolly  {padding:0 5px 0 0; width:99.5%}

/***** Margin ******/
.mz {margin:0 !important;}
.mbz {margin-bottom:0 !important;}
.pz {padding:0 !important;}
.pbz {padding:0!important;}
.ptz {padding-top:0 !important;} 
.sp {clear:both; height:43px;}
.sp2 {clear:both; height:2px;}
.sp5 {clear:both; height:5px;}
.mt4 {margin-top:4px;}
.mt5  {margin-top:5px;}
.mt7  {margin-top:7px;}
.mt15 {clear:both;margin-top:15px;}
.mt10 {margin-top:10px !important;}
.mt20 {margin-top:20px !important;}
.mt_m20 {margin-top:-20px;}
.mt_m12 {margin-top:-12px;}
.mt_m7 {margin-top:-7px;}
.checkbox_lpd {padding-left:20px;}
.mL5 {margin-left:5px;}
.mR5 {margin-right:5px;}
.mR20 {margin-right:20px;}
.pad_h_5 {margin-top:5px;}
.mL10 {margin-left:10px !important;}
.mL20 {margin-left:20px !important;}
.pL20 {padding-left:20px;}
.pL3 {padding-left:3px;}

/***** 2Coloum *****/
.twocolum_box {overflow:hidden; clear:both; width:100%; margin-top:-5px; }/* 2011-10-09 overflow �߰� */
body:first-of-type .twocolum_box {margin-top:-23px; }
.twocolum {width:49%;}

