/***********************************************************
 * File Name      		: approval.css
 * File Type       	    : Style Sheet(css)
 * Discription          : Compliance  Program Management System - approval.css
 * Author               : bjkoo.k 
 * Date                 : 2010.07.21
 * Last update date     : 2010.07.21 
***********************************************************/



/* ===========  Common General Define ========= */

@charset "utf-8"; 


body, frameset {  scrollbar-3dlight-color:#d7d7d9; scrollbar-shadow-color:#d7d7d9; scrollbar-darkshadow-color:#fff; scrollbar-highlight-color:#fff;
		scrollbar-base-color:#fff; scrollbar-track-color:#f2f2f2; scrollbar-face-color:#fff; scrollbar-arrow-color:#d7d7d9; overflow:auto;		
		margin:0px 0px 0px 0px; padding:0px 0px 0px 0px; background-color:#fff; border:none }


body, div, td { color:#555555; font-family:Gulim,Tahoma; line-height:normal; cursor:default }
img { border:none; cursor:auto }
table { border:none; empty-cells:show }
form { margin:0; padding:0 }
input, textarea { font-family:Tahoma; font-size:12px; color:#555555;} 
select, option  { font-family:Tahoma; font-size:12px; color:#555555; background-color:#fff; border:1px solid #bbbbbb }
input { selector:expression(this.hideFocus=true) }
a { cursor:pointer; selector:expression(this.hideFocus=true) }
a:link { text-decoration:none }
a:visited { text-decoration:none }
a:hover { text-decoration:none }
a:active { text-decoration:none }



/* ===========  Table Zone ========= */
.IpTextLe {height:12px;line-height:140%;border:1px solid #7F9DB9;}

.overflow_y {overflow-y:;}
*:first-child+html .overflow_y {overflow-y:hidden!important}
.basictit {}


#bodyDivBase { width:100%; height:100%; overflow-x:hidden; overflow-y:auto}

#bodyDivIn { width:auto; height:100%;vertical-align:top; }

#bodyDivIn .top { text-align:left; line-height:280%; padding-left:10px;height:39px; width:auto; font-family:Nanum Gothic, Malgun Gothic, Dotum; font-size:14px;; color:#e4e7ec; white-space:nowrap; font-weight:bold;background:#244873 url(../../images/secfw/approval/top_bg.jpg) no-repeat }
#bodyDivIn .top .left {float:left; text-align:left;width:10%; font:14px "�뗭�",Arial;color:#e4e7ec; white-space:nowrap; font-weight:bold;}
#bodyDivIn .top .right { float:right; cursor:pointer;  margin-right:10; width:10;height:10;font:14px "�뗭�",Arial;color:#e4e7ec; white-space:nowrap; font-weight:bold;background:url(../../images/secfw/approval/btn_x.gif) repeat-x}

#bodyDivIn .topline { border:1px solid #000; margin-bottom:5px}


#bodyDivIn #tbl .tbl_opa {border:0px;}
#bodyDivIn #tbl .tbl_opa td {border:0px;}


#bodyDivIn #tbl {width:100%; border-top:2px solid #758BBE; _border-left:1px solid #fff; border-left:1px solid #fff; margin:0; clear:both; table-layout:fixed; }
#bodyDivIn #tbl th {line-height:18px; padding:3px 0px; background:#EFF4FA; font-weight:bold; text-align:center; border-left:1px solid #CBDCE4; border-bottom:1px solid #CBDCE4; letter-spacing:-1px; color:#2F344E; border-right:0; font-family:Malgun Gothic!important;}
#bodyDivIn #tbl td {line-height:18px;  padding:4px 10px;border-left:1px solid #cadbe2;border-bottom:1px solid #CADBE2;color:#555;}
#bodyDivIn #tbl tr td {border-left:1px solid #CADBE2; border-bottom:1px solid #CADBE2;}
#bodyDivIn #tbl th.end {
	border-right:none;
	border-left:none;
	border-top:none;
	border-bottom:1px solid  #CDCDCD;
	
}
#bodyDivIn #tbl td.end {
	border-right:1px solid #fff
}
#bodyDivIn #tbl  div  {float:left}

#bodyDivIn #tbl .tip {position:absolute;width:30; height:12; cursor:pointer; margin-left:4; float:left; background:url(../../images/secfw/approval/icon_tip01.gif) no-repeat}
#bodyDivIn #tbl .confirm {position:absolute;width:43; height:21; cursor:pointer; margin-left:4; float:left; background:url(../../images/secfw/approval/btn_confirm.gif) no-repeat}
#bodyDivIn #tbl .confirmEng {position:absolute;float:left; width:59; height:21; cursor:pointer; margin-left:4; float:left; background:url(../../images/secfw/approval/btn_confirmEng.gif) no-repeat}
#bodyDivIn #tbl .cpuser {position:absolute;width:61; height:21; cursor:pointer; margin-left:48; float:left; background:url(../../images/secfw/approval/btn_cpuser.gif) no-repeat}
#bodyDivIn #tbl .opa {float:left; height:20; }

#bodyDivIn #tbl .btm {}
#bodyDivIn #tbl .btm  #opa {border:0 }
#bodyDivIn #tbl .btm  #opa td {border:0}
#bodyDivIn #tbl .btm  #opa .row {width:45px;height:17px; cursor:pointer; background:url(../../images/secfw/approval/btn_row.gif) no-repeat}
#bodyDivIn #tbl .btm  #opa .row_no {width:64px;height:17px; cursor:pointer; background:url(../../images/secfw/approval/btn_row_no.gif) no-repeat}

#opa {border:0!important; width:100%; margin:0; padding:0 }
#opa td {border:0!important; padding:2px!important;}
#opa .delete {width:45px;height:17px; cursor:pointer; background:url(../../images/secfw/approval/btn_delete.gif) no-repeat}
#opa .up {width:45px;height:17px; cursor:pointer; background:url(../../images/secfw/approval/btn_up.gif) no-repeat}
#opa .down {width:45px;height:17px; cursor:pointer; background:url(../../images/secfw/approval/btn_down.gif) no-repeat}
#bodyDivIn #tbl .btm  #opa .file {width:64px;height:17px; cursor:pointer; background:url(../../images/secfw/approval/btn_down.gif) no-repeat}
#bodyDivIn #tbl .btm  #opa .deleteEng {width:57;height:17px; cursor:pointer; background:url(../../images/secfw/approval/btn_deleteEng.gif) no-repeat}
#bodyDivIn #tbl .btm  #opa .upEng {width:45px;height:17px; cursor:pointer; background:url(../../images/secfw/approval/btn_upEng.gif) no-repeat}
#bodyDivIn #tbl .btm  #opa .downEng {width:52px;height:17px; cursor:pointer; background:url(../../images/secfw/approval/btn_downEng.gif) no-repeat}

#bodyDivIn #tbl .con1 {}
#bodyDivIn #tbl .con1 .tip { float:left; width:30; height:12; cursor:pointer; margin-left:4; margin-top:5; float:left; background:url(../../images/secfw/approval/icon_tip02.gif) no-repeat}

#bodyDivIn #tbl .con2 {background:#fff url(../../images/secfw/approval/table_td.gif) repeat-x; font:12px "�뗭�",Arial;color:#444; white-space:nowrap;}
#bodyDivIn #tbl .con2  #opa {float:left;  border-collapse:collapse;}
#bodyDivIn #tbl .con2  #opa td {padding:0; height:16; font:12px "�뗭�",Arial;color:#333; background:url(../../images/secfw/approval/table_td.gif)}
#bodyDivIn #tbl .con2  #opa .file {width:64;height:17; margin-left:7;margin-top:2; cursor:pointer; background:url(../../images/secfw/approval/btn_file.gif) no-repeat}
#bodyDivIn #tbl .con2  #opa .delete {width:45;height:17;  margin-left:3;margin-top:2; cursor:pointer; background:url(../../images/secfw/approval/btn_delete.gif) no-repeat}
#bodyDivIn #tbl .con2  #opa .up {width:45;height:17;  margin-left:3;margin-top:2; cursor:pointer; background:url(../../images/secfw/approval/btn_up.gif) no-repeat}
#bodyDivIn #tbl .con2  #opa .down {width:45;height:17;  margin-left:3;margin-top:2; cursor:pointer; background:url(../../images/secfw/approval/btn_down.gif) no-repeat}
#bodyDivIn #tbl .con2  #opa .fileopen {width:84;height:17; margin-left:3;margin-top:2; cursor:pointer; background:url(../../images/secfw/approval/btn_fileopen.gif) no-repeat}




#bodyDivIn #file { width :100%;  font-size:12px; border-collapse:collapse; }
#bodyDivIn #file  th {width :7%; padding:3 14 3 14; height:29; background:#f3f3f3 url(../../images/secfw/approval/table_line_tit.gif) repeat-x; font-family:Malgun Gothic; color:#42536f; white-space:nowrap; font-weight:bold; text-align:left}
#bodyDivIn #file  td {padding:4 0 4 0;height:29; background:#f3f3f3 url(../../images/secfw/approval/table_line_tit.gif) repeat-x font:12px "�뗭�",Arial;color:#42536f; white-space:nowrap; font-weight:bold; text-align:left}
#bodyDivIn #file  div  {float:left}


#bodyDivIn #file .con1 {background:#fff url(../../images/secfw/approval/table_td.gif) repeat-x; font:12px "�뗭�",Arial;color:#444; white-space:nowrap;}
#bodyDivIn #file .con1  #opa {float:left;  border-collapse:collapse;}
#bodyDivIn #file .con1  #opa td {padding:0; height:16; font:12px "�뗭�",Arial;color:#333; background:url(../../images/secfw/approval/table_td.gif)}
#bodyDivIn #file .con1  #opa .file {width:64;height:17; margin-left:7;margin-top:2; cursor:pointer; background:url(../../images/secfw/approval/btn_file.gif) no-repeat}
#bodyDivIn #file .con1  #opa .delete {width:45;height:17;  margin-left:3;margin-top:2; cursor:pointer; background:url(../../images/secfw/approval/btn_delete.gif) no-repeat}
#bodyDivIn #file .con1  #opa .up {width:45;height:17;  margin-left:3;margin-top:2; cursor:pointer; background:url(../../images/secfw/approval/btn_up.gif) no-repeat}
#bodyDivIn #file .con1  #opa .down {width:45;height:17;  margin-left:3;margin-top:2; cursor:pointer; background:url(../../images/secfw/approval/btn_down.gif) no-repeat}
#bodyDivIn #file .con1  #opa .fileopen {width:84;height:17; margin-left:3;margin-top:2; cursor:pointer; background:url(../../images/secfw/approval/btn_fileopen.gif) no-repeat}
#bodyDivIn #file .con1 .vol {float:right; font:12px "�뗭�",Arial;color:#333; white-space:nowrap;}
#bodyDivIn #file .con1 .vol span { font:12px "�뗭�",Arial;color:#333; white-space:nowrap; font-weight:bold;}



#bodyDivIn #file .con2 {background:#fff url(../../images/secfw/approval/table_td.gif) repeat-x; padding:5px 0 5px 0; }
#bodyDivIn #file .con2  #option { width : 100%; background:#fff url(../../images/secfw/approval/table_td.gif) repeat-x; font-size:12px; border-collapse:collapse;border:1px solid #bebfc0; }
#bodyDivIn #file .con2  #option th {  padding:5px 5px 5px 14px; font-family:Malgun Gothic; font-weight:bold; color:#47382A;   border-bottom:1px solid #bebfc0; background:#F4F4F4}
#bodyDivIn #file .con2  #optionPanel th div {font-family:Malgun Gothic;  color:#232458;font-size:11px;}
#bodyDivIn #file .con2  #option td {  padding:5px 5px 5px 14px; border-bottom:1px solid #bebfc0; font:12px "�뗭�",Arial; color:#444;  background:#fff}
#bodyDivIn #file .con2  #option .thbg {  font:12px "�뗭�",Arial;  font-weight:bold; color:#42536f;  background:#edeeee url(../../images/secfw/approval/table_td.gif)}
#bodyDivIn #file .con2  #option .tdbg {  font:12px "�뗭�",Arial; color:#444  white-space:nowrap; background:#f7f7f7 url(../../images/secfw/approval/table_td.gif)}

#bodyDivIn #file .con2  #option .open {float:left; width:13px; height:13px; cursor:pointer; margin-left:4px; background:url(../../images/secfw/approval/btn_option_open.gif) no-repeat}
#bodyDivIn #file .con2  #option .cal {float:left; width:15px; height:13px; cursor:pointer; margin-top:4; margin-right:4; float:left; background:url(../../images/secfw/approval/btn_cal.gif) no-repeat}
#bodyDivIn #file .con2  #option  #opa {float:left;  border-collapse:collapse;}
#bodyDivIn #file .con2  #option  #opa td {border-bottom:1px solid #fff;padding:0; height:16; font:12px "�뗭�",Arial;color:#333}

#bodyDivIn #file .con2 {background:#fff url(../../images/secfw/approval/table_td.gif) repeat-x; padding:5px 0 5px 0; }
#bodyDivIn #file .con2  #optionPanel { width : 100%; background:#fff url(../../images/secfw/approval/table_td.gif) repeat-x; font-size:12px; border-collapse:collapse;border:1px solid #bebfc0; }
#bodyDivIn #file .con2  #optionPanel th {  padding:5px 5px 5px 14px;font-family:Malgun Gothic!important; color:#232458; letter-spacing:-1px; font-weight:bold; color:#42536f;  background:#edeeee url(../../images/secfw/approval/table_td.gif)}
#bodyDivIn #file .con2  #optionPanel td {  padding:5px 5px 5px 14px; border-bottom:1px solid #bebfc0; font:12px "�뗭�",Arial; color:#444;  background:#f7f7f7 url(../../images/secfw/approval/table_td.gif)}
#bodyDivIn #file .con2  #optionPanel .thbg { font:12px "�뗭�",Arial;  font-weight:bold; color:#42536f;  background:#edeeee url(../../images/secfw/approval/table_td.gif)}
#bodyDivIn #file .con2  #optionPanel .tdbg {  font:12px "�뗭�",Arial; color:#444  white-space:nowrap; background:#f7f7f7 url(../../images/secfw/approval/table_td.gif)}
#bodyDivIn #file .con2  #optionPanel  div { float:left; padding-right:5px;}
#bodyDivIn #file .con2  #optionPanel .open {float:left; width:13px; height:15px; cursor:pointer; margin-left:2px; background:url(../../images/secfw/approval/btn_option_open.gif) no-repeat 0 2px}
#bodyDivIn #file .con2  #optionPanel .cal {float:left; width:15px; height:13px; cursor:pointer; margin-top:4; margin-right:4; float:left; background:url(../../images/secfw/approval/btn_cal.gif) no-repeat}
#bodyDivIn #file .con2  #optionPanel  #opa {float:left;  border-collapse:collapse;}
#bodyDivIn #file .con2  #optionPanel  #opa td {border-bottom:1px solid #fff;padding:0; height:16; font:12px "�뗭�",Arial;color:#333}


/* ===========  BTN Zone ========= */
#bodyDivIn #btn { width : 98%; font-size:12px; border-collapse:collapse; }

#bodyDivIn #btn  td {padding-top :5;padding-bottom :3; color:#42536f; white-space:nowrap;  text-align:left}
#bodyDivIn #btn  div  {float:left;padding-left : 5}
#bodyDivIn #btn .btnw {float:right;}
#bodyDivIn #btn .btnw .btnw_head {width:13px;height:23px; background:url(../../images/secfw/approval/btn_w_head.gif) no-repeat}
#bodyDivIn #btn .btnw .btnw_mid {padding-left:3px;letter-spacing:-1px; padding-top:6px; cursor:pointer; height:23px; font:11px "�뗭�",Arial;color:#2f3e63; white-space:nowrap; background:url(../../images/secfw/approval/btn_w_mid.gif) repeat-x}
#bodyDivIn #btn .btnw .btnw_tail {width:12px;height:23px; background:url(../../images/secfw/approval/btn_w_tail.gif) no-repeat}

#bodyDivIn #btn .btnb { float:right;}
#bodyDivIn #btn .btnb .btnb_head {width:6px;height:24px; background:url(../../images/secfw/approval/btn_b_head.gif) no-repeat}
#bodyDivIn #btn .btnb .btnb_mid {height:24px; padding-left:3px;padding-right:3px;letter-spacing:-1px; padding-top:6px; cursor:pointer; font:12px "�뗭�",Arial;color:#fff;font-weight:bold; white-space:nowrap; background:url(../../images/secfw/approval/btn_b_mid.gif) repeat-x}
#bodyDivIn #btn .btnb .btnb_tail {width:8px;height:24px; background:url(../../images/secfw/approval/btn_b_tail.gif) no-repeat}


/* ===========  POP Zone ========= */

#bodyDivIn #pop { width : 98%; b font-size:12px; border-collapse:collapse; border-bottom: 1px solid #999; margin-bottom:5}
#bodyDivIn #pop td{  padding-left:14; font:12px "�뗭�",Arial; color:#444; }
#bodyDivIn #pop .title {vertical-align:top; width :10%; padding-left:14; padding-top:5; font:12px "�뗭�",Arial; font-weight:bold; color:#42536f;white-space:nowrap;} 
#bodyDivIn #pop .con { padding-bottom:5; float:left; width:98%; height:12; cursor:pointer; margin-left:4; margin-top:5; float:left; }
#bodyDivIn #pop .line { border:1px solid #c9c9c9; height:1; margin-bottom:15 }



/* ===========  POP Table ========= */
#bodyDivIn .title_basic {width :98%; text-align:left;padding-left:20; height:18;  font:12px "�뗭�",Arial;color:#395386; font-weight:bold; background:url(../../images/secfw/approval/icon_title_arr.gif) no-repeat}
#bodyDivIn .title_total {width :98%; text-align:left;padding-left:20; padding-top:3;height:18;  font:12px "�뗭�",Arial;color:#395386; background:url(../../images/secfw/approval/icon_total.gif) no-repeat}

#bodyDivIn .tbl_basic { border-top: 2px solid #76a3da; width :98%; border-collapse:collapse; }
#bodyDivIn .tbl_basic th {text-align:center;height:29;border-left:1px solid #cfd0d1; border-right:1px solid #cfd0d1;border-bottom:1px solid #cfd0d1; font:12px "�뗭�",Arial;color:#42536f;font-weight:bold;white-space:nowrap;background:url(../../images/secfw/approval/table_basic_th.gif) repeat-x}
#bodyDivIn .tbl_basic .th_l {padding-left:10;text-align:left;height:29;border-left:1px solid #cfd0d1; border-right:1px solid #cfd0d1;border-bottom:1px solid #cfd0d1; font:12px "�뗭�",Arial;color:#42536f;font-weight:bold;white-space:nowrap;background:url(../../images/secfw/approval/table_basic_th.gif) repeat-x}
#bodyDivIn .tbl_basic .th_r {padding-right:10;text-align:right;height:29;border-left:1px solid #cfd0d1; border-right:1px solid #cfd0d1;border-bottom:1px solid #cfd0d1; font:12px "�뗭�",Arial;color:#42536f;font-weight:bold;white-space:nowrap;background:url(../../images/secfw/approval/table_basic_th.gif) repeat-x}
#bodyDivIn .tbl_basic td {padding-top:3;text-align:center;background:#fff;border-left:1px solid #cfd0d1; border-right:1px solid #cfd0d1;border-bottom:1px solid #cfd0d1;  font:12px "�뗭�",Arial;color:#333; white-space:nowrap;}
#bodyDivIn .tbl_basic .td_l {padding-left:10; text-align:left; padding-top:3;text-align:left;background:#fff;border-left:1px solid #cfd0d1; border-right:1px solid #cfd0d1;border-bottom:1px solid #cfd0d1;  font:12px "�뗭�",Arial;color:#333; white-space:nowrap;}
#bodyDivIn .tbl_basic .td_r {padding-right:10;text-align:right;padding-top:3;text-align:left;background:#fff;border-left:1px solid #cfd0d1; border-right:1px solid #cfd0d1;border-bottom:1px solid #cfd0d1;  font:12px "�뗭�",Arial;color:#333; white-space:nowrap;}
#bodyDivIn .tbl_basic .icon_name {padding-left:20;padding-right:10;height:15;width:15;background:url(../../images/secfw/approval/icon_name.gif) no-repeat left}

#bodyDivIn .wid100 {width :98%;text-align:left;}

#bodyDivIn .tbl_scr { border-top: 1px solid #cfd0d1; width :100%; border-collapse:collapse; }
#bodyDivIn .tbl_scr td {height:23px; padding-top:3;text-align:center;background:#fff;border-left:1px solid #cfd0d1; border-right:1px solid #cfd0d1;border-bottom:1px solid #cfd0d1;  font:12px "�뗭�",Arial;color:#333; white-space:nowrap;}
#bodyDivIn .tbl_scr .td_l {padding-left:10;text-align:left; padding-top:3;background:#fff;border-left:1px solid #cfd0d1; border-right:1px solid #cfd0d1;border-bottom:1px solid #cfd0d1;  font:12px "�뗭�",Arial;color:#333; white-space:nowrap;}
#bodyDivIn .tbl_scr .td_r {padding-right:10;text-align:right;padding-top:3;text-align:left;background:#fff;border-left:1px solid #cfd0d1; border-right:1px solid #cfd0d1;border-bottom:1px solid #cfd0d1;  font:12px "�뗭�",Arial;color:#333; white-space:nowrap;}
#bodyDivIn .tbl_scr .titleblank {height:0px;}

#bodyDivIn #search {padding:15 15 0 15; width:98%; height:58;border: 3px solid #a3bedf;background-color:#f7f7f7; white-space:nowrap;}
#bodyDivIn #search div { float:left;}
#bodyDivIn #search .txt {padding-left:7;float:left; font:12px "�뗭�",Arial;color:#395386;margin:5 4 0 0;background:url(../../images/secfw/approval/icon_arr.gif) no-repeat left}
#bodyDivIn #search .btnsch {float:right;width:73; height:21;cursor:hand; background:url(../../images/secfw/approval/btn_search.gif) no-repeat}
#bodyDivIn #search .inbox input{border:1 solid #bbb;background-color:#FFFFFF;FONT-SIZE: 12px;Font-family: �뗭�;text-align:left;height:20}
#bodyDivIn #search .blank15 {width :15;}
#bodyDivIn #search .blank5 {width :5;}

