.table-td32 {
	border: 1px solid #dddddd;
	background-color: #ffffff;
	color: #666666;
	font-size: 12px;
	padding: 3px;
}
.table-td33 {
	font-family:Dotum, Gulim, Arial, Times New Roman;
	background-color: #fff5b2;
	color: #555555;
	font-size: 12px;
	text-decoration:underline;
}
.table-td34 {
	border: 1px solid #dddddd;
	background-color: #ffffff;
	color: #666666;
	font-size: 12px;
	padding: 3px;
}
.table-td35 {
	border: 1px solid #dddddd;
	background-color: #ebf6fb;
	color: #666666;
	font-size: 12px;
	padding: 3px;
}
.table-td38 {
	font-family:Dotum, Gulim, Arial, Times New Roman;
	border: 1px solid #dddddd;
	background-color: #f7f7f7;
	color: #ff0000;
	font-size: 12px;
	padding: 3px;
}
.table-td39 {
	font-family:Dotum, Gulim, Arial, Times New Roman;
	border: 1px solid #dddddd;
	background-color: #f7f7f7;
	color: #0070bc;
	font-size: 12px;
	padding: 3px;
}
.table-td40 {
	font-family:Dotum, Gulim, Arial, Times New Roman;
	border: 1px solid #dddddd;
	background-color: #f7f7f7;
	color: #555555;
	font-size: 12px;
	padding: 3px;
}
.11-greyca {
	font-family: Dotum, Gulim, Arial;
	font-size: 12px;
	color: #555555;
	text-decoration:none;
}
.11-blue {
	font-family: Dotum, Gulim, Arial;
	font-size: 12px;
	color: #0070bc;
}
.11-red {
	font-family: Dotum, Gulim, Arial;
	font-size: 12px;
	color: #ff0000;
}
.input-box {
	border: 1px solid #cccccc;
	height: 18px;
	font-family: Dotum, Gulim, Arial;
	font-size: 11px;
}