@import url(common.css);

/* common */
html, body{
	height: 100%!important;
}
* html .nav_left {
	height: 100%;
	margin:-37px 0 0 22px;
}
ul li,ul li a,a {
	font-family:"NanumGothic", "NanumGothic", "NanumGothicOTF", "?나눔고딕", "Malgun Gothic", "Trebuchet MS", "Lucida Grande", "Tahoma","Helvetica","Arial",sans-serif !important;
}
h2 {
    position:relative;
	font:bold 16px;
	height:37px;
	line-height:37px;
	color:#fff;
	background: url(../../images/secfw/common/left_menu_bg.gif) repeat-x left top;
	padding-left:15px;
	width:194px;
	margin-left:22px;
}
h2 a:link, h2 a:visited, h2 a:active {
	color:#fff;
	line-height:37px;
}
/* Left Menu Common */
.nav_left {
	width:194px;
	background:#fff;
	padding:37px 0 0 7px;
	min-height:100%;
}
.nav_left ul {
	text-align:left;
	text-indent:5px;
	margin-top:5px;
}
.nav_left li {
	line-height:25px;	
}
.nav_left li a {
	color:#666;
	font-weight:bold;
	width:160px;
	background:url(../../images/secfw/common/left_menu_on.gif) no-repeat right top;
	text-align:left;
	height:26px;
	line-height:20px;
	padding:3px 0 0 5px;
}
.nav_left li a.end {	
	height:27px;	
}
.nav_left li a.1depth_selected {
	background:url(../../images/secfw/common/left_menu_off.gif) no-repeat right top;
	height:27px;
	font-weight:bold;
}
.nav_left ul li ul {
	width:156px;
	padding:5px 0;
	margin:-5px 0 0 5px;
}
.nav_left ul li ul li {
	height:21px;
	margin-bottom:1px;
	background:url(../../images/secfw/common/dot_light_gray.gif) repeat-x left bottom;
}
.nav_left ul li ul li.end {
	background:none!important;
	margin-bottom:5px;
}
.nav_left ul li ul li a {
	width:148px;
	background:url(../../images/secfw/ico/left_menu_2depth.gif) no-repeat 5px center;
	padding:0 0 0 13px;
	border:none;
	font:bold 12px;
	height:24px;
	line-height:24px;
}
.nav_left ul li ul li ul {
	background: url(../../images/secfw/common/dot_light_gray.gif) repeat-x left bottom;
	width:160px;
	padding:0;
	margin:0;	
}
.nav_left ul li ul li ul.end,.nav_left ul li ul li.end {
	background: none!important;	
}
.nav_left ul li ul li ul li {
	background:none;
	height:17px;
}
.nav_left ul li ul li ul li a{
	width:148px;
	background:url(../../images/secfw/ico/ico_circle_dot_g.gif) no-repeat 5px 8px;
	padding-left:15px;
	border:none;
	font:normal 11px;
	height:18px;
	line-height:18px;
}
.nav_left ul li ul li ul li a.3depth_selected,.nav_left ul li ul li ul li a:hover{
	color:#fff;
}

/* u-Learning */
h2.ule {
	background:url(../../images/secfw/common/left_menu_bg_ule.gif) no-repeat left top;
	border:none;	
}
h2.ule:hover {
	color:#BE3C37
}
.ule {
	border:3px solid #f7c17b;
	border-top:none;
}
.ule li a:hover {
	color:#c34c01;
}
.ule li a.1depth_selected {
	color:#c34c01;
}
.ule ul li ul li a.2depth_selected {
 	background:url(../../images/secfw/ico/left_menu_2depth_ule_on.gif) no-repeat 5px center;
	color:#ef6500
}
.ule ul li ul li a:hover {
	background:url(../../images/secfw/ico/left_menu_2depth_ule_on.gif) no-repeat 5px center;
	color:#ef6500
}
.ule ul li ul li ul li a.3depth_selected,.ule ul li ul li ul li a:hover{
	background:#f6b855 url(../../images/secfw/ico/ico_circle_dot_w.gif) no-repeat 5px 8px;
	color:#fff;
}

/* Education */
h2.edu {
	background:url(../../images/secfw/common/left_menu_bg_edu.gif) no-repeat left top;
	border:none;
}
h2.edu:hover {
	color:#003C6E
}
.edu {
	border:3px solid #5693c4;
	border-top:none;
}
.edu li a:hover {
	color:#0f5c99;
}
.edu li a.1depth_selected {
	color:#0f5c99;
}
.edu ul li ul li a.2depth_selected {
 	background:url(../../images/secfw/ico/left_menu_2depth_edu_on.gif) no-repeat 5px center;
	color:#1c6ba6;
}
.edu ul li ul li a:hover {
	color:#0f5c99;
}
.edu ul li ul li ul li a.3depth_selected,.edu ul li ul li ul li a:hover{
	background:#f6b855 url(../../images/secfw/ico/ico_circle_dot_w.gif) no-repeat 5px 8px;
	color:#fff;
}

/* Freshmen */
h2.fre {
	background:url(../../images/secfw/common/left_menu_bg_fre.gif) no-repeat left top;
	border:none;
}
h2.fre:hover {
	color:#066E7A
}
.fre {
	border:3px solid #60C1CA;
	border-top:none;
}
.fre li a:hover {
	color:#077a85;
}
.fre li a.1depth_selected {
	color:#077a85;
}
.fre ul li ul li a.2depth_selected {
 	background:url(../../images/secfw/ico/left_menu_2depth_fre_on.gif) no-repeat 5px center;
	color:#43A5AE
}
.fre ul li ul li a:hover {
	background:url(../../images/secfw/ico/left_menu_2depth_fre_on.gif) no-repeat 5px center;
	color:#43A5AE
}
.fre ul li ul li ul li a.3depth_selected,.fre ul li ul li ul li a:hover{
	background:#5BBCCC url(../../images/secfw/ico/ico_circle_dot_w.gif) no-repeat 5px 8px;
	color:#fff;
}

/* Intern */
h2.int {
	background:url(../../images/secfw/common/left_menu_bg_int.gif) no-repeat left top;
	border:none;
}
h2.int:hover {
	color:3195E00;
}
.int {
	border:3px solid #90ca69;
	border-top:none;
}
.int li a:hover {
	color:#499a13;
}
.int li a.1depth_selected {
	color:#499a13;
}
.int ul li ul li a.2depth_selected {
 	background:url(../../images/secfw/ico/left_menu_2depth_int_on.gif) no-repeat 5px center;
	color:#2e910a;
}
.int ul li ul li a:hover {
	background:url(../../images/secfw/ico/left_menu_2depth_int_on.gif) no-repeat 5px center;
	color:#2e910a;
}
.int ul li ul li ul li a.3depth_selected,.int ul li ul li ul li a:hover{
	background:#6db858 url(../../images/secfw/ico/ico_circle_dot_w.gif) no-repeat 5px 8px;
	color:#fff;
}

/* Competency */
h2.com {
	background:url(../../images/secfw/common/left_menu_bg_com.gif) no-repeat left top;
	border:none;	
}
h2.com:hover {
	color:#BE3C37
}
.com {
	border:3px solid #F9D081;
	border-top:none;
}
.com li a:hover {
	color:#FF890D;
}
.com li a.1depth_selected {
	color:#FF890D;
}
.com ul li ul li a.2depth_selected {
 	background:url(../../images/secfw/ico/left_menu_2depth_com_on.gif) no-repeat 5px center;
	color:#FF8A0C;
}
.com ul li ul li a:hover {
	background:url(../../images/secfw/ico/left_menu_2depth_com_on.gif) no-repeat 5px center;
	color:#FF8A0C;
}
.com ul li ul li ul li a.3depth_selected,.com ul li ul li ul li a:hover{
	background:#FFC859 url(../../images/secfw/ico/ico_circle_dot_w.gif) no-repeat 5px 8px;
	color:#fff;
}

/* T-Hub */
h2.thub {
	background:url(../../images/secfw/common/left_menu_bg_thub.gif) no-repeat left top;
	border:none;
}
h2.thub:hover {
	color:#02567A
}
.thub {
	border:3px solid #82D9F4;
	border-top:none;
}
.thub li a:hover {
	color:#1B93AE;
}
.thub li a.1depth_selected {
	color:#1B93AE;
}
.thub ul li ul li a.2depth_selected {
 	background:url(../../images/secfw/ico/left_menu_2depth_thub_on.gif) no-repeat 5px center;
	color:#2B99B2;
}
.thub ul li ul li a:hover {
	background:url(../../images/secfw/ico/left_menu_2depth_thub_on.gif) no-repeat 5px center;
	color:#2B99B2;
}
.thub ul li ul li ul li a.3depth_selected,.thub ul li ul li ul li a:hover{
	background:#7CBFDC url(../../images/secfw/ico/ico_circle_dot_w.gif) no-repeat 5px 8px;
	color:#fff;
}

/* HR-Q */
h2.hrq {
	background:url(../../images/secfw/common/left_menu_bg_hrq.gif) no-repeat left top;
	border:none;
}
h2.hrq:hover {
	color:#5D6600
}
.hrq {
	border:3px solid #D2D471;
	border-top:none;
}
.hrq li a:hover {
	color:#8B9707;
}
.hrq li a.1depth_selected {
	color:#8B9707;
}
.hrq ul li ul li a.2depth_selected {
 	background:url(../../images/secfw/ico/left_menu_2depth_hrq_on.gif) no-repeat 5px center;
	color:#798201;
}
.hrq ul li ul li a:hover {
	background:url(../../images/secfw/ico/left_menu_2depth_hrq_on.gif) no-repeat 5px center;
	color:#798201;
}
.hrq ul li ul li ul li a.3depth_selected,.hrq ul li ul li ul li a:hover{
	background:#A8B72A url(../../images/secfw/ico/ico_circle_dot_w.gif) no-repeat 5px 8px;
	color:#fff;
}

/* GPLE */
h2.gple {
	background:url(../../images/secfw/common/left_menu_bg_gple.gif) no-repeat left top;
	border:none;
}
h2.gple:hover {
	color:#3D258C
}
.gple {
	border:3px solid #9894E1;
	border-top:none;
}
.gple li a:hover {
	color:#4D3799;
}
.gple li a.1depth_selected {
	color:#4D3799;
}
.gple ul li ul li a.2depth_selected {
 	background:url(../../images/secfw/ico/left_menu_2depth_gple_on.gif) no-repeat 5px center;
	color:#4E389C;
}
.gple ul li ul li a:hover {
	background:url(../../images/secfw/ico/left_menu_2depth_gple_on.gif) no-repeat 5px center;
	color:#4E389C;
}
.gple ul li ul li ul li a.3depth_selected,.gple ul li ul li ul li a:hover{
	background:#8171CA url(../../images/secfw/ico/ico_circle_dot_w.gif) no-repeat 5px 8px;
	color:#fff;
}