@charset "utf-8";
@import url(ulearning.css);

* {	
	margin:0;
	padding:0;	
	font-size:12px;
	font-family:dotum;
}
.style1 {
	color:#f00;
}
.tcenter {
	text-align:center!important;
	padding:30px 0;	
}
.pd5 {
	padding:5px!important;
}
h4 {
	margin-left:5px!important;
}
/* layout */
.mailWrap {
	background:#d1d7de url(../../images/secfw/mail/mail_body_bg02.gif) no-repeat left top;
	margin:25px;
	width:690px;
	border:1px solid #849197;
}

/* logo menu_name */
.mail_top {
	background: url(../../images/secfw/mail/mail_top.jpg) no-repeat;
	width:100%;
	height:75px;
}
.mail_top h2 {
	float:right;
	padding:25px 15px 0 0;
	text-align:right;
	color:#f5f7f8;
	font:bold 17px;
	margin:0;
	width:100%;

}
/* body title */
.mail_center {
	width:100%;
	background:#d1d7de url(../../images/secfw/mail/mail_body_bg.gif) no-repeat left top;
}
.mail_center .inner {
	width:100%;
	padding:0 42px 30px;
}
.mail_center h3 {
	background:url(../../images/secfw/mail/mail_title01.gif) repeat-x left top;
	height:35px;
	font-size:12px;
	color:#fff;
	margin:0 0 15px;
	padding:0;
}
.mail_center h3 span {
	background:url(../../images/secfw/mail/mail_title_bullet.gif) no-repeat left top;
	height:35px;
	padding:12px 0 0 30px;
}
.mail_center h4 {
	background:url(../../images/secfw/mail/ico_subtitles.gif) no-repeat left 3px;
	color:#333;
	margin:20px 0 5px;
	padding-left:3px;
}
.mail_center h4 span {
	font-size:12px;
	color:#333;
}
/* body */
.mail_explain {
	background:#F5F6F7;
	padding:20px 30px;
	line-height:17px;
}
.mail_explain p{
	line-height:18px;
}
.mail_explain span {
	color:#0E7BAE
}
.mid_box {
	padding:10px 0 0 10px ;
	line-height:18px;
}
/* copyright */
.mail_footer {
	background:url(../../images/secfw/mail/mail_bottomC.gif) repeat-x;
	width:100%;
}
.mail_footer .fleft {
	background:url(../../images/secfw/mail/mail_bottomL.gif) no-repeat bottom left;
	width:264px;
	height:67px;
	float:left;
}
.mail_footer .fright {
	background:url(../../images/secfw/mail/mail_bottomR.gif) no-repeat bottom right;
	width:104px;
	height:67px;
	float:right;
}
/* button */
a.mail_bt:link, a.mail_bt:visited, a.mail_bt:active {
	text-decoration:none;
	background:url(../../images/secfw/mail/mail_bt_bg.gif) no-repeat left top;
	height:41px;
	padding-left:37px;
	cursor: pointer;
	text-decoration:none;
}
a.mail_bt span {
	background:url(../../images/secfw/mail/mail_bt_bg.gif) no-repeat right top;
	height:41px;
	padding: 15px 22px 0 0;
	color:#fff;
	font-weight:bold;
}
a.mail_bt:hover span {
	text-decoration:none;
	color:#173C5B
}
/* table */
.common_tb {
	border-collapse:collapse;
	border-bottom:1px solid #E0E0E0;
	border-top:1px solid #9DA9BB;
	margin-bottom:20px;
	width:100%;
}
.common_tb th {
	background:#F6F6F6;
	color:#8493AA;
	border-bottom:1px solid #E6E6E6;
	padding:5px 10px;
	font-weight:bold;
	text-align:left;
	font-size:11px;
}
.common_tb th.strong {
	background:#EAEAEA;
}
.common_tb td {
	color:#777;
	border-bottom:1px solid #E6E6E6;
	padding:0 6px;
	font-size:11px;
	height:25px;
}

/* vod mail */
.mailvodWrap {
	background:#B1C2CF;
	margin:25px;
	width:760px;
	border:1px solid #849197;
}
.mailvod_top {
	background: url(../../images/secfw/mail/mailvod_top.jpg) no-repeat left bottom;
	width:760px;
	height:52px;
}
.mailvod_top h2 {
	float:right;
	padding: 23px 15px 0 0;
	text-align:right;
	color:#f5f7f8;
	font:bold 17px;
	margin:0;	
}
.mailvod_center {
	width:760px;
	background:#d1d7de url(../../images/secfw/mail/mailvod_body_bg.gif) no-repeat left top;
	border:none;
	
}
.mailvod_center .inner {
	width:100%; 
	margin:0 10px;
}
.mailvod_center h3 {
	background:url(../../images/secfw/mail/mail_title01.gif) repeat-x left top;
	height:35px;
	font-size:12px;
	color:#fff;
	padding:0 0 0 1px!important;
	margin:0;
}
.mailvod_center h3 span {
	background:url(../../images/secfw/mail/mail_title_bullet.gif) no-repeat left top;
	height:35px;
	padding:12px 0 0 27px; 
}