/***********************************************************
 * File Name      		: pop.css
 * File Type       	    : Style Sheet(css)
 * Discription          : Compliance  Program Management System - pop.css
 * Author               : bjkoo.k 
 * Date                 : 2010.07.21
 * Last update date     : 2010.07.21 
***********************************************************/



/* ===========  Common General Define ========= */

@charset "utf-8"; 


body, frameset {  scrollbar-3dlight-color:#d7d7d9; scrollbar-shadow-color:#d7d7d9; scrollbar-darkshadow-color:#fff; scrollbar-highlight-color:#fff;
		scrollbar-base-color:#fff; scrollbar-track-color:#f2f2f2; scrollbar-face-color:#fff; scrollbar-arrow-color:#d7d7d9; overflow:auto;		
		margin:0px 0px 0px 0px; padding:0px 0px 0px 0px; background-color:#fff; border:none }

body, div, td { font-size:12px; color:#555555; font-family:Gulim,Tahoma; line-height:normal; cursor:default }
img { border:none; cursor:auto }
table { border:none; empty-cells:show }
form { margin:0; padding:0 }
input, textarea { font-family:Tahoma; font-size:12px; color:#555555;} 
select, option  { font-family:Tahoma; font-size:12px; color:#555555; background-color:#fff; border:1px solid #bbbbbb }
input { selector:expression(this.hideFocus=true) }
a { cursor:pointer; selector:expression(this.hideFocus=true) }
a:link { text-decoration:none }
a:visited { text-decoration:none }
a:hover { text-decoration:none }
a:active { text-decoration:none }



/* ===========  Notice ========= */

#topimg {height:135; width:420; background:url(../../images/cpis/pop/notice/top_img.jpg) no-repeat }
#bgmid  {height:150; width:420; padding : 0 25 10 25; background:url(../../images/cpis/pop/notice/bg_mid.jpg) repeat-y }
#bgmid .title  {font:12px "돋움",Arial;color:#2561a9; font-weight:bold; }
#bgmid .con  {margin-left:10;font:12px "돋움",Arial;color:#666}
#bgmid span  {font:12px "돋움",Arial;color:#fff}

#bgbtm  {height:18;  width:420; background:url(../../images/cpis/pop/notice/bg_btm.jpg) no-repeat }

#copy   {height:5;   width:420; background:url(../../images/cpis/pop/notice/bg_copy.jpg) repeat-y }
#copy .img { margin-left:185; margin-top:5; height:6;   width:210; background:url(../../images/cpis/pop/notice/copy.gif) no-repeat }

#close  {float:left; height:23;  width:420; background-color:#000f47;}
#close .txt {font:12px "돋움",Arial;color:#abb0c2;float:left;  height:6;  width:260;}
#close .img {float:left;  height:6;  margin-top:6;   margin-left:100; cursor:pointer; width:43; background:url(../../images/cpis/pop/notice/btn_close.gif) no-repeat }



/* ===========  Agree ========= */
#agree {margin:0pt; height:200;	width:520;}
#agree #top {height:30; width:520; background:url(../../images/cpis/pop/agree/agree_top.gif) no-repeat }
#agree #mid {height:130; width:520; background:url(../../images/cpis/pop/agree/agree_mid.gif) repeat-y }
#agree #mid #box { margin:5 30 5 30; border:1px #e0e0e0 solid; padding:10 15 10 15 }
#agree #mid #box .lf {text-align:left; }
#agree #mid #box .ri {text-align:right; font-weight:bold; color:#cf3a00; margin-top:15;}
#agree #btm {height:50; width:520; padding-top:5; padding-right:25; background:url(../../images/cpis/pop/agree/agree_btm.gif) no-repeat }
#agree #btm .btn {float:right; height:20; margin-right:5;  background:url(../../images/cpis/pop/agree/btn_head.gif) no-repeat }
#agree #btm .btn .head_accept { float:left; height:20; width:24; background:url(../../images/cpis/pop/agree/btn_head_accept.gif) no-repeat }
#agree #btm .btn .head_close { float:left; height:20; width:24; background:url(../../images/cpis/pop/agree/btn_head_close.gif) no-repeat }
#agree #btm .btn .cen {float:left;height:20; cursor:pointer; padding:4 6 0 3;font-weight:bold; color:#7e7e7e; white-space:nowrap; font-size:11px; font-family:Dotum,Tahoma; letter-spacing:-1px; background:url(../../images/cpis/pop/agree/btn_cen.gif) repeat-x }
#agree #btm .btn .tail {float:left;height:20; width:1; background:url(../../images/cpis/pop/agree/btn_tail.gif) no-repeat }




/* ===========  Welcome ========= */

#welcome {height:408; width:380; }
#welcome #top  {height:214; background:url(../../images/cpis/pop/welcome/top_img.jpg) no-repeat}
#welcome #mid  {padding:12 35 0 35;height:121;background:url(../../images/cpis/pop/welcome/mid_img.jpg) no-repeat}
#welcome #mid  .tbl {width:100%;padding:3 0 3 0;}
#welcome #mid  .tbl .title  {float:left;padding-left:10;font:12px "돋움",Arial;color:#b8dbff; font-weight:bold; background:url(../../images/cpis/pop/welcome/icon_arr.gif) no-repeat }
#welcome #mid  .tbl .con  {float:left;padding-left:3;font:12px "돋움",Arial;color:#fff;}
#welcome #mid  .tbl .con .h10 {margin-top:5;}
#welcome #btm  {height:50; background:url(../../images/cpis/pop/welcome/btm_img.jpg) no-repeat}
#welcome #btm .btncon {margin : 13 20 10 288; height:27; width:68; cursor:pointer;background:url(../../images/cpis/pop/welcome/btn_con.gif) no-repeat}

#welcome #close  {float:left; height:23;  width:380; background-color:#001335;}
#welcome #close .txt {font:11px "돋움",Arial;color:#abb0c2;float:left;  height:6;  width:200;}
#welcome #close .img {float:left;  height:6;  margin-top:6;   margin-left:120; cursor:pointer; width:43; background:url(../../images/cpis/pop/welcome/btn_close.gif) no-repeat }


/* ===========  PM Notice ========= */
#PM {width:280;}
#PM #topimgkor {height:280; width:280; background:url(../../images/cpis/pop/pm/pm_20100914_kor.gif) no-repeat }
#PM #topimgEng {height:280; width:280; background:url(../../images/cpis/pop/pm/pm_20100914_eng.gif) no-repeat }
#PM #close  { height:23;  width:280; background-color:#000f47;}
#PM #close .txt {float:left; font:11px "돋움",Arial;color:#abb0c2; width:198;}
#PM #close .img {float:right; cursor:pointer; width:43; margin-left:10;margin-right:10; background:url(../../images/cpis/pop/pm/btn_close.gif) no-repeat }