
@charset "utf-8";
@import url(menumain.css);

html {height:auto;}/* 2011-10-01 추가 */
body {height:auto; overflow-x:hidden;}/* 2011-10-01 추가 */

#wrap {min-width:980px; height:100%; margin:0 10px;}/* 2011-10-01 추가 */
#container {position:relative; clear:both; height:100%; overflow:hidden;}/* 2011-10-01 height:88.3%; overflow-x:hidden; width:100%;를 수정  */
#container .location {clear:both; text-align:right; color:#aaa698; font:normal 11px dotum ; height:15px; }
#container .location img {margin-top:-3px; padding-right:4px;}
*+html #container .location img {margin-top:-1px; padding-right:4px;}
#container .location strong {color:#4F4F4F; font:normal 11px dotum ;}
#container .location .secret {margin:-3px 0 0 7px;}
#container .title h3 {float:left; color:#00366c;font-family:Nanum Gothic, Malgun Gothic, Dotum;line-height:20px; font-size:16px; margin-top:-10px; background:url(/images/clm/en/icon/bu_square_blue_l.gif) no-repeat 2px 2px; padding:0 0 11px 22px;}
#main_content {position:relative; margin:0 0 -30px 0; min-height:95.9%; clear:both;}

 
/*** MAIN ***/ 
.main_img_box {height:330px; margin-bottom:20px;}
.main_img1 {background:url(/images/clm/en/common/main_img2-1.jpg) repeat-x left top; height:330px; border-bottom:1px solid #0078d3;}

/* my submit */
.my_submit {margin:0 10px; clear:both;}/* 2011-10-01 float:left; width:99%;_width:95%;를 삭제  */
body:first-of-type .my_submit {margin:20px 10px 0;}

.my_submit h2 {overflow:hidden;height:29px; font:bold 15px dotum; padding:11px 0 0 58px; border-bottom:3px solid #C9D2E1;margin-bottom:2px; background:url(/images/clm/en/common/title_my_submit.gif) no-repeat 5px bottom; }
*+html .my_submit h2 {height:28px; padding:13px 0 0 58px;}

.my_submit h2 img {vertical-align:bottom;margin:0 3px -10px;}

.my_submit h2 span {color:#FF7800;margin-right:2px;}
.my_submit h2 span.line {color:#DADADA;font:normal 12px dotum}
.my_submit a.num {font:bold 14px dotum;padding:5px 10px 0;color:#FF7800; display:inline-block;height:13px;}
.my_submit a.more {float:right; margin-top:15px;_margin:-10px 0 5px 0;}
*+html .my_submit a.more {margin-top:-18px;}
.my_submit table {width:100%; table-layout:fixed;}
.my_submit table th {text-align:left; padding:0px 8px; height:26px; line-height:26px; background:url(/images/clm/en/icon/bu_org.gif) no-repeat 2px center;}
:root .my_submit table th img {float:left; margin-right:5px;}
body:first-of-type .my_submit table th img {margin:5px 5px 0 0px;}

.my_submit table th a {color:#7A7A7A;}
.my_submit table th a:hover {color:#000;}
.my_submit table td.date {background:url(/images/clm/en/common/line_l_blue.gif) no-repeat left 8px; padding-left:13px; color:#7C8AA2}


/* bbs */
.bbs  {margin:0 10px 0;_margin:0;}/* 2011-10-01 float:left; width:95%;를 삭제 margin:0 0 0 25px를 수정  */
body:first-of-type .bbs {margin:20px 10px 0;}/* 2011-10-01 margin:20px 10px 0 25px;를 수정  */
.bbs ul { background:url(/images/clm/en/common/bg_notice_tab.gif) repeat-x left bottom; height:30px; margin:7px 0 -1px 0;}
.bbs li {float:left;}
.bbs li.more {float:right; margin-top:15px;}
.bbs li.more2 {float:right; margin-top:11px; padding-left:11px; background: url("/images/clm/en/icon/bu_dot_gray_dd.gif") no-repeat 4px 7px; font-family: Arial; color:#7A7A7A;}
.bbs li.more2 a {font-family: tahoma; font-size:11px; color:#7A7A7A; text-decoration: none;}
.bbs table {width:100%; margin-top:7px; table-layout:fixed;}
.bbs table tr.on {background:#F1F6FA;}
.bbs table th {text-align:left; line-height:26px; height:26px; }
.bbs table th a {display:inline-block;color:#787878; background: url(/images/clm/en/icon/bu_dot_gray_dd.gif) no-repeat 4px center; padding-left:11px;}
.bbs table th a:hover {color:#305CAD}
.bbs table td.date {background:url(/images/clm/en/common/line_l_blue.gif) no-repeat left 8px; padding-left:13px; color:#7C8AA2;}


.left-bbs {margin-left:10px !important;}
body:first-of-type .left-bbs {margin:20px 10px 0;}
.left-bbs ul { background:url("/images/clm/en/common/bg_notice_tab01.gif") repeat-x left bottom; height:30px; margin:7px 0 -1px 0;}
.left-bbs li {float:left;}
.left-bbs li.more {float:right; margin-top:15px;}
.left-bbs li.more2 {float:right; margin-top:11px; padding-left:11px; padding-right:11px; background: url("/images/clm/en/icon/bu_dot_gray_dd.gif") no-repeat 4px 7px; font-family:tahoma; color:#7A7A7A;}
.left-bbs li.more2 a {font-family: tahoma; color:#7A7A7A; text-decoration: none; font-size:11px; }
.left-bbs table {width:100%; margin-top:7px; table-layout:fixed;}
.left-bbs table tr.on {background:#F1F6FA;}
.left-bbs table th {text-align:left; line-height:26px; height:26px; }
.left-bbs table th a {display:inline-block;color:#787878; background: url(/images/clm/en/icon/bu_dot_gray_dd.gif) no-repeat 4px center; padding-left:11px;}
.left-bbs table th a:hover {color:#259BB8}
.left-bbs table td.date {background:url(/images/clm/en/common/line_l_blue.gif) no-repeat left 8px; padding-left:13px; color:#7C8AA2;}



/* banner */
.banner_area {float:right; width:49.5%;}
.banner {float:left;  width:100%;  margin:5px 5px 5px 0px; background:url(/images/clm/en/common/bg_main_banner.gif) no-repeat left top; height:82px;}
.banner_in {text-align:center; vertical-align:middle; background:url(/images/clm/en/common/bg_main_banner_r.gif) no-repeat right top; height:82px;padding:2px 10px;}
.banner_in img {margin-top:10px; vertical-align:middle;}



/* manual */
.manual {clear:both;float:left; width:49%; margin:10px 5px 5px 10px; background:url(/images/clm/en/common/bg_menu_link.gif) no-repeat left top; height:94px;}
.manual_in {background:url(/images/clm/en/common/bg_menu_link.gif) no-repeat right -94px; height:78px; padding:8px 2px 8px 14px;_padding:14px 2px 8px 14px;}
.manual h3 {margin:0;float:left;}
.manual dl.task {float:left;margin:0;width:46%; padding:14px 0 6px 10px; text-align:center; vertical-align:middle;}
*+html .manual dl.task {padding-top:22px}

.manual dl.task dt {float:left; margin:0 5px 0 0;_margin:0 3px 0 0;}
.manual dl.task dd a {display:block;  text-align:left;background:url(/images/clm/en/icon/bu_dot_blue_d.gif) no-repeat 0px center; padding-left:8px; color:#497C8F; *margin:6px 0 7px;} /* 2011-10-01 *margin:6px 0 7px;을 추가*/
.manual dl.task dd a:hover {color:#00A5CE; text-decoration:underline}

/* form notice detail */
.form_notice_detail {width:100%; border-top:2px solid #3ea4be; _border-left:1px solid #fff; table-layout:fixed;}
.form_notice_detail th {color:#448B9E;font-weight:bold; background:url(/images/clm/en/icon/bu_dot_red.gif) no-repeat 5px 12px; padding:7px 7px 4px 12px;text-align:left; border-bottom:1px solid #d9e8f0;}
.form_notice_detail th.sub {text-align:left; font-weight:normal;color:#448B9E;padding:5px 5px 4px 12px ;background:url(/images/clm/en/icon/bu_dot_gblue.gif) no-repeat 5px 10px; }
.form_notice_detail td {padding:5px 5px 4px 5px; vertical-align:top; color:#555D68;border-bottom:1px solid #d9e8f0;}
.form_notice_detail td.line {background: url(/images/clm/en/common/bg_detail_line.gif) no-repeat right top;}
.form_notice_detail td.content {padding:10px 12px;border-bottom:none;}

/* margin_footer */  
.sp {clear:both; height:35px;}
#footer {margin-top:12px; clear:both; position:relative; width:100%; font:normal 10px tahoma; border-top:1px solid #efefef; line-height:15px; text-indent:5.5em; color:#808080; background:url(/images/clm/en/common/logo_samsung.gif) no-repeat 3px center; }
/* searchbox */
.search-area {position:relative; float:left; width:49.5%;}/* 2011-10-01  width:49%; margin:0 5px 0 10px;를 수정 */
.searchbox {clear:both;/* float:left;*/ margin:20px 5px 5px 10px; background:url(/images/clm/en/common/bg_searchbox.jpg) no-repeat left top; height:85px;}/* 2011-10-01   margin:20px 0 5px 5px;를 수정 */
.searchbox_in {padding:12px 0 0 75px; background:url(/images/clm/en/common/bg_searchbox_r.jpg) no-repeat right top; height:73px;}
.searchbox_in div.search {padding:19px 0 0 5px;}
.searchbox_in div.search input.txt {width:237px; height:22px; padding:0 10px; background:url(/images/clm/en/common/bg_input.gif) no-repeat left top; border:0; line-height:22px; font-size:11px; color:#AAAAAA;}

.searchbox_in {padding:0 !important; height:85px; margin-left:100px;}
/*.searchbox {margin-left:0;}*/
.search_content .txt01 { padding-top:12px; }
.search_content .txt01 label { color:#5d6879; margin:0; padding:0 0 0 3px;  }
.search_content .txt01 * { vertical-align:middle;  }
.searchbox_in div.search { padding-left:0; position:relative; }
.searchbox_in div.search span.search-input {text-align:left; display:block; margin-right:145px; background:#ddd; background: url("/images/clm/en/common/bg_input_left.gif") no-repeat scroll left top transparent;  }
.searchbox_in div.search span.search-btn { position:absolute; right:10px; top:19px; padding-top:2px; padding-left:18px; height:22px; display:block; background: url("/images/clm/en/common/bg_input_right.gif") no-repeat scroll left top transparent;}
.searchbox_in div.search span.search-btn a { margin-right:3px; }
.searchbox_in div.search input.txt {width:90%; padding:0 10px; text-align:left; background:none; font-family: "돋움", Arial; font-size: 12px; color: #aaa;}

.option_layer {position:absolute; padding:0 40px 0 0; display:none; right:3px; top:-145px; background:#fff; border:1px solid #268edb; }
.option_layer:after{clear:both;content:" ";display:block;height:0;visibility:hidden;}
.option_layer .btn_close { position:absolute; right:11px; top:10px; }
.option_layer label { padding:0; margin-left:0px; color:#5d6879;}
.option_layer input.input_text { width:175px; border:1px solid #7f9db9; color:#5d6879; }
.option_layer ul { margin:13px 0 5px 13px; }
.option_layer ul li { padding-left:8px; height:25px; background:url('/images/clm/en/new2011/dot_option.gif') left 6px no-repeat; }
.option_layer ul li * {vertical-align:middle; }
.option_layer ul li strong { float:left; padding-top:2px;  width:110px; color:#415671; }

/* work */
.work { width:100%;}
.work ul { background:none; height:118px; }
.work ul:after{clear:both;content:" ";display:block;height:0;visibility:hidden;}

.work .step-list li { float:left; text-align:center; }
.work .step-list-bg01 {width:16%; background:none !important;}
.work .step-list-bg02 {width:21%;}
.work .step-list-bg03 {width:21%;}
.work .step-list-bg04 {width:21%;}
.work .step-list-bg05 {width:20%; }
.work .step-list li { background:url('/images/clm/en/new2011/bg_left_arrow.gif') left 25px no-repeat;}
.work .step-list li img { margin:8px 0 14px 17px;}
.work .step-list li.step-list-bg01 img { margin:8px 0 14px 7px;}
.work .step-list li div {padding:11px 0 7px 0; border-top:1px solid #dcdcdc; border-bottom:1px solid #dcdcdc;}
.work .step-list li div em {padding:0 0 0 25px; background:url('/images/clm/en/new2011/dot_box.gif') 17px 4px no-repeat;  color:#7a7a7a;}
.work .step-list li div em a {color:#7a7a7a;}
.work .step-list li div em a:hover {font-weight:normal; text-decoration:underline; color:#2e4ea2;}
.work .step-list li.step-list-bg01 div em { padding-left:15px;  background:url('/images/clm/en/new2011/dot_box.gif') 7px 4px no-repeat;  }



/*
.work p {margin-top:12px; padding-left:11px; background: url("/images/clm/en/icon/bu_dot_gray_dd.gif") no-repeat 4px 5px; color:#7A7A7A;}
.work .step-list {position:relative; width:100%; height:94px; overflow:block;}
.work .step-list:after{clear:both;content:" ";display:block;height:0;visibility:hidden;}


.work .step-list li div {position:relative; width:100%; height:50px; margin-top:10px;}

	li.step-list-bg01 div{background:url('/images/clm/en/new2011/bg_step01_bg.jpg') left top repeat-x;}
	li.step-list-bg02 div{background:url('/images/clm/en/new2011/bg_step02_bg.jpg') left top repeat-x;}
	li.step-list-bg03 div{background:url('/images/clm/en/new2011/bg_step03_bg.jpg') left top repeat-x;}
	li.step-list-bg04 div{background:url('/images/clm/en/new2011/bg_step04_bg.jpg') left top repeat-x;}
	li.step-list-bg05 div{background:url('/images/clm/en/new2011/bg_step05_bg.jpg') left top repeat-x;}

.work .step-list li div .left_bg{position:absolute; left:0; top:0; width:36px; height:50px; }
	
	li.step-list-bg01 .left_bg{background:url('/images/clm/en/new2011/bg_step01.jpg') left top no-repeat;}
	li.step-list-bg02 .left_bg{background:url('/images/clm/en/new2011/bg_step02.jpg') left top no-repeat;}
	li.step-list-bg03 .left_bg{background:url('/images/clm/en/new2011/bg_step03.jpg') left top no-repeat;}
	li.step-list-bg04 .left_bg{background:url('/images/clm/en/new2011/bg_step04.jpg') left top no-repeat;}
	li.step-list-bg05 .left_bg{background:url('/images/clm/en/new2011/bg_step05.jpg') left top no-repeat;}
	li.step-list-bg05 .right_bg{position:absolute; right:-1px; top:0; width:36px; height:50px; background:url('/images/clm/en/new2011/bg_step06.jpg') left top no-repeat;}


.work .step-list span {color:#fff; font-weight:bold;}
.work .step-list strong{display:block; width:100%; padding:10px 0 9px; border-top:1px solid #dcdcdc; border-bottom:1px solid #dcdcdc; text-align:center;}
.work .step-list li div em {display:block; margin-left:36px; text-align:center; color:#fff; font-weight:bold; padding-top:20px;}
.work .step-list li.step-list-bg05 div em { margin-right:36px; }
*/
/*----- TOP MENU START ------*/
ul#menu { 
 	width: 100%; 
	height: 32px; 
	background: #5276B2; 
	font-size: 14px;
	font-family:Nanum Gothic,Malgun Gothic, Dotum, tahoma, Arial;
	font-weight: bold; 
	list-style-type: none; 
	margin: 0; 
	padding: 0;
	float:left;
}

ul#menu li { 
	display: block; 
	font-size: 12px;
	color: #ffffff; 
	font-family:Nanum Gothic,Malgun Gothic, Dotum, tahoma, Arial;
	float: left; 
	margin: 0; 
	line-height:34px;

}

ul#menu li a { 
	height: 20px; 
	color: #ffffff; 
	text-decoration: none; 
	display: block; 
	float: left; 
	line-height: 120%; 
	padding: 10px 15px 0px 15px ; 
}

ul#menu li a:hover { 
	color: #FFFFFF; 
	text-decoration:underline;
}

ul#menu li a.current{
	 color: #FFF; 
	 background: #FFF 
	 padding: 7px 13px 0px 0px; }

ul#menu .update { 
	width:170px;
	padding:13px 0 0 0; 
	font-weight:normal;
	font-size:11px;
	text-align:right;
}

ul#menu li a.prototype {
	font-size: 14px;
	color: #ffae00;	
	padding-left:12px;
	font-family:tahoma;
}

/*----- TOP MENU END ------*/

/*Sitemap box*/
.sitemap_Bbox_tl {width: 970px; clear:both; background:url("/images/clm/en/new2011/bg_sitemap_box_tl.gif") no-repeat 0 0;}
.sitemap_Bbox_tl .sitemap_Bbox_tr {background:url("/images/clm/en/new2011/bg_sitemap_box_tr.gif") no-repeat 100% 0;}
.sitemap_Bbox_tl .sitemap_Bbox_tr .sitemap_Bbox_bl {background:url("/images/clm/en/new2011/bg_sitemap_box_bl.gif") no-repeat 0 100%;}
.sitemap_Bbox_tl .sitemap_Bbox_tr .sitemap_Bbox_bl .sitemap_Bbox_br {overflow:hidden; padding:30px 1px 30px; background:url("/images/clm/en/new2011/bg_sitemap_box_br.gif") no-repeat 100% 100%;}
.sitemap_list_box {overflow:hidden; width:924px; margin:17px 22px 0 23px; padding-top:2px;}
.sitemap_first {margin-top:0;}
.sitemap_four {background:url("/images/clm/en/new2011/bg_sitemap_line.gif") repeat-y 0 0;}
.sitemap_five {background:url("/images/clm/en/new2011/bg_sitemap_line.gif") repeat-y 0 0;}/* 5개 나올때 메뉴사이 bar선 이미지 다시 잘라서 저장해주세요 */
.sitemap_list_box div.sitemap_list {float:left; overflow:hidden;}
.sitemap_four div.sitemap_list {width:180px; padding:0 25px;}
.sitemap_five div.sitemap_list {width:170px; padding:0 7px;}
.sitemap_list_box div.sitemap_list .title {display:block; padding-bottom:11px;}
.sitemap_list_box div.sitemap_list ul.map_list {width:100%;}
.sitemap_list_box div.sitemap_list ul.map_list li {color:#7b858e; line-height:20px;}
.sitemap_list_box div.sitemap_list ul.map_list li a {color:#7b858e;}
.sitemap_list_box div.sitemap_list ul.map_list li a:hover {text-decoration:underline;}
.sitemap_list_box div.sitemap_list ul.map_list li .onedeps {padding-left:9px; background:url("/images/clm/en/icon/bu_arrow_t4.gif") no-repeat 0 2px;}
.sitemap_list_box div.sitemap_list ul.map_list li ul.twodeps_list {padding:0 0 6px 10px;}
.sitemap_list_box div.sitemap_list ul.map_list li ul.twodeps_list li {padding-left:8px; background:url("/images/clm/en/icon/bu_dot_gray.gif") no-repeat 0 5px;}
.sitemap_list_box div.site_1list ul.map_list li a:hover {color:#00a7e2;}
.sitemap_list_box div.site_2list ul.map_list li a:hover {color:#00afd5;}
.sitemap_list_box div.site_3list ul.map_list li a:hover {color:#06bdde;}
.sitemap_list_box div.site_4list ul.map_list li a:hover {color:#0fceb7;}
.sitemap_list_box div.site_5list ul.map_list li a:hover {color:#00a7e2;}
.sitemap_list_box div.site_6list ul.map_list li a:hover {color:#00afd5;}
.sitemap_list_box div.site_7list ul.map_list li a:hover {color:#06bdde;}
.sitemap_list_box div.site_8list ul.map_list li a:hover {color:#0fceb7;}